{% extends 'base.html.twig' %}

{% block title %}L'Agence{% endblock %}

{% block body %}

<div id="agency" class="wrapper">

    {# section 1 : introduction #}
    <section class="introduction">
        <h2>L'agence</h2>

        <div class='main-paragraph-wrapper'>
            <p><strong>Archipel Contact</strong> est né il y a 30 ans à partir d’une rencontre entre Sylvie et son amie balinaise Ibu Ati :  ensemble, elles scellent une collaboration exclusive et mettent en place un réseau de prestataires de confiance dans toute l’Indonésie.</p>
            <p>Au fil des années, Archipel Contact a acquis une <strong>solide expérience</strong> et une <strong>réputation de qualité</strong> en France et en Europe francophone : nous travaillons avec de nombreuses agences de voyages et tour-opérateurs spécialisés dans le voyage sur mesure et thématique, en France, en Suisse, au Luxembourg et en Belgique.</p>
            <p>Notre spécialité est la création de <strong>voyages sur-mesure</strong> et personnalisés.
            Passionnés, nous sommes sans cesse à la recherche de lieux encore authentiques et d’activités originales à vous proposer.</p>
        </div>

    </section>  

    {# section 2 : articles list #}    
    <section class="articleslist">

        {# article 1 #}       
        <article class="article">
            <div class='article-image'>
                <img src="build/images/agency/sylvie-ati-sri-new.jpg" alt="L'équipe">
            </div>
            <div class="article-description">
                <h4>Une équipe multiculturelle</h4>
                <p>En France, notre <strong>équipe francophone</strong> est à votre écoute pour concocter des voyages vraiment adaptés aux attentes de vos clients.</p>
                <p>Au siège, situé à Denpasar-Bali, <strong>l’équipe opérationnelle</strong> de 15 personnes met en place, coordonne et supervise le déroulement des circuits. Ibu Ati épaulée par Ibu Sri veillent sur l’équipe locale, notre grande famille Balinaise !</p>
                <p>A Java, Lombok, Sulawesi, Sumatra, Flores, etc., nos partenaires de confiance font partie de l’aventure depuis le début.</p>
            </div>
        </article>
        

        {# article 2 #} 
        <article class="article">
            <div class='article-image'>
                <img src="build/images/agency/cendana.jpg" alt="L'équipe">
            </div>
            <div class="article-description">
                <h4>Ethique et valeurs</h4>
                <p>Nous sommes avant tout des <strong>amoureux de l’Indonésie</strong>, de sa nature et de sa culture. Nous respectons et valorisons les différentes communautés indonésiennes, leur religion, leurs traditions. Notre souhait est de faire découvrir cette richesse culturelle à travers des <strong>voyages éthiques et responsables</strong>.</p>
                <p>Nous aimons mettre en contact les voyageurs et les habitants pour des séjours plus authentiques. En indonésien, « client » se dit « tamu » et signifie aussi « invité » : la tradition d’accueil des Indonésiens et la disponibilité de notre équipe sur place transforme votre voyage en une expérience unique et inoubliable.</p>
            </div>
        </article>

        {# article 3 #} 
        <article class="article">
            <div class='article-image'>
                <img src="build/images/agency/rabina.jpg" alt="L'équipe">
            </div>
            <div class="article-description">
                <h4>Des services sur-mesure</h4>
                <p>Parce que nous pensons que chaque voyageur est unique, nous préparons des <strong>voyages personnalisés</strong>, adaptés aux attentes de vos clients jusque dans les moindres détails, de la conception à la réalisation.</p>
                <p>Nous confectionnons des voyages sur-mesure pour les <strong>individuels, groupes et MICE</strong>, des programmes classiques tout comme des voyages insolites ou thématiques.</p>
            </div>
        </article>

        {# article 4 #} 
        <article class="article">
            <div class='article-image'>
                <img src="build/images/agency/ideal.jpg" alt="L'équipe">
            </div>
            <div class="article-description">
                <h4>Des prestations de qualité</h4>
                <p>Notre équipe à taille humaine est <strong>à votre écoute</strong> et permet un service personnalisé, toujours à votre disposition pour vous conseiller lors de l’élaboration de vos circuits. <p>Nous nous engageons à répondre en 24 -48 heures.</p>
                <p>Nous organisons des formations par téléphone, visio-conférence ou dans vos agences.</p>
                <p>Nous avons une <strong>expérience confirmée du terrain</strong> et continuons à dénicher les perles rares, expérimenter de nouvelles activités et vérifier la qualité des prestations.</p>
            </div>
        </article>

        {# article 5 #} 
        <article class="article">
            <div class='article-image'>
                <img src="build/images/agency/sidemen-children.jpg" alt="L'équipe">
            </div>
            <div class="article-description">
                <h4>Sur place, une attention personnalisée</h4>
                <p>Les voyageurs sont accueillis avec soin par nos équipes locales. Ils peuvent contacter nos bureaux à tous moments si nécessaire. Nos guides expérimentés et flexibles savent s’adapter aux souhaits des clients.</p>
                <p>Nous respectons une charte de standard minimum pour nos services et choix hôteliers.</p>
                <p>Nous mettons à disposition notre expérience et notre savoir-faire pour vous <strong>offrir le meilleur de l’Indonésie</strong>.</p>
            </div>
        </article>
    
    </section>

    {# section 3 : photos carousel #}  
    <section>
    
        <h3>Nos équipes</h3>

        <div id="image-slideragency" class="splide">
            <div class="splide__track">
                <ul class="splide__list">
                    <li class="splide__slide">
                        <img src="{{ asset('build/images/agency/carousel/team1.jpg') }}" alt="Notre équipe">
                    </li>
                    <li class="splide__slide">
                        <img src="{{ asset('build/images/agency/carousel/team2.jpg') }}" alt="Notre équipe">
                    </li>
                    <li class="splide__slide">
                        <img src="{{ asset('build/images/agency/carousel/team3.jpg') }}" alt="Notre équipe">
                    </li>
                    <li class="splide__slide">
                        <img src="{{ asset('build/images/agency/carousel/team4.jpg') }}" alt="Notre équipe">
                    </li>
                    <li class="splide__slide">
                        <img src="{{ asset('build/images/agency/carousel/team5.jpg') }}" alt="Notre équipe">
                    </li>
                    <li class="splide__slide">
                        <img src="{{ asset('build/images/agency/carousel/team6.jpg') }}" alt="Notre équipe">
                    </li>
                    <li class="splide__slide">
                        <img src="{{ asset('build/images/agency/carousel/team7.jpg') }}" alt="Notre équipe">
                    </li>
                    <li class="splide__slide">
                        <img src="{{ asset('build/images/agency/carousel/team8.jpg') }}" alt="Notre équipe">
                    </li>
                    <li class="splide__slide">
                        <img src="{{ asset('build/images/agency/carousel/team9.jpg') }}" alt="Notre équipe">
                    </li>
                    <li class="splide__slide">
                        <img src="{{ asset('build/images/agency/carousel/team10.jpg') }}" alt="Notre équipe">
                    </li>
                    <li class="splide__slide">
                        <img src="{{ asset('build/images/agency/carousel/team11.jpg') }}" alt="Notre équipe">
                    </li>
                    <li class="splide__slide">
                        <img src="{{ asset('build/images/agency/carousel/team12.jpg') }}" alt="Notre équipe">
                    </li>
                    <li class="splide__slide">
                        <img src="{{ asset('build/images/agency/carousel/team13.jpg') }}" alt="Notre équipe">
                    </li>
                    <li class="splide__slide">
                        <img src="{{ asset('build/images/agency/carousel/team14.jpg') }}" alt="Notre équipe">
                    </li>
                    <li class="splide__slide">
                        <img src="{{ asset('build/images/agency/carousel/team15.jpg') }}" alt="Notre équipe">
                    </li>
                    <li class="splide__slide">
                        <img src="{{ asset('build/images/agency/carousel/team16.jpg') }}" alt="Notre équipe">
                    </li>
                    <li class="splide__slide">
                        <img src="{{ asset('build/images/agency/carousel/team17.jpg') }}" alt="Notre équipe">
                    </li>
                </ul>
            </div>
        </div>

    </section>

</div>

{% block javascripts %}
     {{ parent() }}
     {{ encore_entry_script_tags('agencypage') }}
{% endblock %}

{% endblock %}
