{% extends 'base.html.twig' %}

{% block title %}Nos voyages sur-mesure en Indonésie{% endblock %}

{% block meta_description %}Tous nos circuits en Indonésie sont créés sur-mesure. Pour plus d’idées possibilités de voyage, voici une présentation de nos circuits.{% endblock %}

{% block body %}

<div id="tours">
    <h3>Nos voyages en Indonésie</h3>

    <div class="introduction">

        <p>Nous organisons des voyages totalement sur-mesure, les circuits proposés sont donc modifiables en fonction de vos goûts, de vos envies et de votre budget.</p>

    </div>

    <section class="tours-section">

        <div class="tours-cards">
        {# tour nº1 #}
            {% for tour in tours %}
                {% if tour.id == 1 %}
                    <figure class="image-block">
                        <img src="{{ asset('build/images/tours/' ~ tour.photo()) }}" alt="photo de voyage en Indonésie"/>
                        <figcaption>
                            <h4>{{ tour.title }}</h4>
                            <p>{{ tour.description }}</p>
                            <p>À partir de {{ tour.price }}€ par personne</p>
                            <a href="{{ path('show_tour', {'id': tour.id})}}#tour"><button>
                                Découvrez
                            </button></a>
                            
                        </figcaption>
                    </figure>
                {% endif %}
            {% endfor %}
        
        {# tour nº3 #}
            {% for tour in tours %}
                {% if tour.id == 3 %}
                    <figure class="image-block">
                        <img src="{{ asset('build/images/tours/' ~ tour.photo()) }}" alt="photo de voyage en Indonésie"/>
                        <figcaption>
                            <h4>{{ tour.title }}</h4>
                            <p>{{ tour.description }}</p>
                            <p>À partir de {{ tour.price }}€ par personne</p>
                            <a href="{{ path('show_tour', {'id': tour.id})}}#tour"><button>
                                Découvrez
                            </button></a>
                        </figcaption>
                    </figure>
                {% endif %}
            {% endfor %}

        {# tour nº4 #}
            {% for tour in tours %}
                {% if tour.id == 4 %}
                    <figure class="image-block">
                        <img src="{{ asset('build/images/tours/' ~ tour.photo()) }}" alt="photo de voyage en Indonésie"/>
                        <figcaption>
                            <h4>{{ tour.title }}</h4>
                            <p>{{ tour.description }}</p>
                            <p>À partir de {{ tour.price }}€ par personne</p>
                            <a href="{{ path('show_tour', {'id': tour.id})}}#tour"><button>
                                Découvrez
                            </button></a>
                        </figcaption>
                    </figure>
                {% endif %}
            {% endfor %}

        {# tour nº5 #}
            {% for tour in tours %}
                {% if tour.id == 5 %}
                    <figure class="image-block">
                        <img src="{{ asset('build/images/tours/' ~ tour.photo()) }}" alt="photo de voyage en Indonésie"/>
                        <figcaption>
                            <h4>{{ tour.title }}</h4>
                            <p>{{ tour.description }}</p>
                            <p>À partir de {{ tour.price }}€ par personne</p>
                            <a href="{{ path('show_tour', {'id': tour.id})}}#tour"><button>
                                Découvrez
                            </button></a>
                        </figcaption>
                    </figure>
                {% endif %}
            {% endfor %}

        {# tour nº6 #}
            {% for tour in tours %}
                {% if tour.id == 6 %}
                    <figure class="image-block">
                        <img src="{{ asset('build/images/tours/' ~ tour.photo()) }}" alt="photo de voyage en Indonésie"/>
                        <figcaption>
                            <h4>{{ tour.title }}</h4>
                            <p>{{ tour.description }}</p>
                            <p>À partir de {{ tour.price }}€ par personne</p>
                            <a href="{{ path('show_tour', {'id': tour.id})}}#tour"><button>
                                Découvrez
                            </button></a>
                        </figcaption>
                    </figure>
                {% endif %}
            {% endfor %}


        {# tour nº7 #}
            {% for tour in tours %}
                {% if tour.id == 7 %}
                    <figure class="image-block">
                        <img src="{{ asset('build/images/tours/' ~ tour.photo()) }}" alt="photo de voyage en Indonésie"/>
                        <figcaption>
                            <h4>{{ tour.title }}</h4>
                            <p>{{ tour.description }}</p>
                            <p>À partir de {{ tour.price }}€ pour la famille</p>
                            <a href="{{ path('show_tour', {'id': tour.id})}}#tour"><button>
                                Découvrez
                            </button></a>
                        </figcaption>
                    </figure>
                {% endif %}
            {% endfor %}

        {# tour nº8 #}
            {% for tour in tours %}
                {% if tour.id == 8 %}
                    <figure class="image-block">
                        <img src="{{ asset('build/images/tours/' ~ tour.photo()) }}" alt="photo de voyage en Indonésie"/>
                        <figcaption>
                            <h4>{{ tour.title }}</h4>
                            <p>{{ tour.description }}</p>
                            <p>À partir de {{ tour.price }}€ par personne</p>
                            <a href="{{ path('show_tour', {'id': tour.id})}}#tour"><button>
                                Découvrez
                            </button></a>
                        </figcaption>
                    </figure>
                {% endif %}
            {% endfor %}

        {# tour nº9 #}
            {% for tour in tours %}
                {% if tour.id == 9 %}
                    <figure class="image-block">
                        <img src="{{ asset('build/images/tours/' ~ tour.photo()) }}" alt="photo de voyage en Indonésie"/>
                        <figcaption>
                            <h4>{{ tour.title }}</h4>
                            <p>{{ tour.description }}</p>
                            <p>À partir de {{ tour.price }}€ par personne</p>
                            <a href="{{ path('show_tour', {'id': tour.id})}}#tour"><button>
                                Découvrez
                            </button></a>
                            </button>
                        </figcaption>
                    </figure>
                {% endif %}
            {% endfor %}
        
        {# tour nº10 #}
            {% for tour in tours %}
                {% if tour.id == 10 %}
                    <figure class="image-block">
                        <img src="{{ asset('build/images/tours/' ~ tour.photo()) }}" alt="photo de voyage en Indonésie"/>
                        <figcaption>
                            <h4>{{ tour.title }}</h4>
                            <p>{{ tour.description }}</p>
                            <p>À partir de {{ tour.price }}€ par personne</p>
                            <a href="{{ path('show_tour', {'id': tour.id})}}#tour"><button>
                                Découvrez
                            </button></a>
                        </figcaption>
                    </figure>
                {% endif %}
            {% endfor %}

        {# tour nº11 #}
            {% for tour in tours %}
                {% if tour.id == 11 %}
                    <figure class="image-block">
                        <img src="{{ asset('build/images/tours/' ~ tour.photo()) }}" alt="photo de voyage en Indonésie"/>
                        <figcaption>
                            <h4>{{ tour.title }}</h4>
                            <p>{{ tour.description }}</p>
                            <p>À partir de {{ tour.price }}€ par personne</p>
                            <a href="{{ path('show_tour', {'id': tour.id})}}#tour"><button>
                                Découvrez
                            </button></a>
                        </figcaption>
                    </figure>
                {% endif %}
            {% endfor %}

        {# tour nº12 #}
            {% for tour in tours %}
                {% if tour.id == 12 %}
                    <figure class="image-block">
                        <img src="{{ asset('build/images/tours/' ~ tour.photo()) }}" alt="photo de voyage en Indonésie"/>
                        <figcaption>
                            <h4>{{ tour.title }}</h4>
                            <p>{{ tour.description }}</p>
                            <p>À partir de {{ tour.price }}€ par personne *</p>
                            <a href="{{ path('show_tour', {'id': tour.id})}}#tour"><button>
                                Découvrez
                            </button></a>
                        </figcaption>
                    </figure>
                {% endif %}
            {% endfor %}

        {# tour nº13 #}
            {% for tour in tours %}
                {% if tour.id == 13 %}
                    <figure class="image-block">
                        <h3>{{ tour.islands }}</h3>
                        <img src="{{ asset('build/images/tours/' ~ tour.photo()) }}" alt="photo de voyage en Indonésie"/>
                        <figcaption>
                            <h4>{{ tour.title }}</h4>
                            <p>{{ tour.description }}</p>
                            <p>À partir de {{ tour.price }}€ par personne *</p>
                            <a href="{{ path('show_tour', {'id': tour.id})}}#tour"><button>
                                Découvrez
                            </button></a>
                        </figcaption>
                    </figure>
                {% endif %}
            {% endfor %}

        {# tour nº14 #}
            {% for tour in tours %}
                {% if tour.id == 14 %}
                    <figure class="image-block">
                        <img src="{{ asset('build/images/tours/' ~ tour.photo()) }}" alt="photo de voyage en Indonésie"/>
                        <figcaption>
                            <h4>{{ tour.title }}</h4>
                            <p>{{ tour.description }}</p>
                            <p>À partir de {{ tour.price }}€ par personne *</p>
                            <a href="{{ path('show_tour', {'id': tour.id})}}#tour"><button>
                                Découvrez
                            </button></a>
                        </figcaption>
                    </figure>
                {% endif %}
            {% endfor %}

        </div>
    </section>        

    <div class="button-contact">
        <a href="{{ path('contact')}}#contact">
            <button>Contactez-nous pour des circuits sur-mesure</button>
        </a>
    </div>
</div>
{% endblock %}