{% extends 'base.html.twig' %}

{% block title %}Circuit en Indonésie{% endblock %}

{% block meta_description %}Voyage en Indonésie : des idées de circuits.{% endblock %}

{% block body %}

    <div id="tour" class="wrapper">

        {# section 2 - introduction #}
        <section class="introduction">
            <h3>{{ tour.title }}</h3>
            <div>
                <p>{{ tour.description }}</p>
            </div>

        </section>

        {# section 2 - summary & map #}
        <section class="summaryandmap">                
            <div class="summary">
                <ul class="gradient-list">
                    <li>Durée : {{ tour.duration }} nuits sur place</li>
                    <li>Iles visitées : {{ tour.islands }}</li>
                    <li>Prix : à partir de {{ tour.price }} € par personne *</li>
                </ul>
            </div>

            <div class="map-responsive">
                <iframe src="{{ tour.map }}" width="500" height="300"></iframe>
            </div>
        </section>

        {# section 3 - programme details #}
        {# {{ dump(days) }} #}

        <section class="programme-details">

            <h3>Détails du circuit :<br />
                {{ tour.title }}</h3>

            {% for day in tour.days %}

            <div class="programme-day">

                <div class="day-details"> 
                    <h4>{{ day.title }}</h4>             
                    <p>{{ day.description }}</p>                
                    <p>{{ day.hotel }}</p>
                </div>

                <div class="day-photo">
                    <img src="{{ asset('build/images/tours/' ~ day.photo()) }}" alt="photo Indonésie"/>               
                </div>
            </div>

            {% endfor %}
        </section>

        {# section 4 - final information and sales conditions #}
        <section class="conditions">
            <div class="price">
                <h4>Nos conditions</h4>
                <p>Prix : à partir de {{ tour.price }} € par personne *</p>
                <p>* Note : en basse saison, base 2 personnes (et base 4 personnes pour les programmes Famille) ; en hôtel de charme de type 3 étoiles ; tarif susceptible d’être modifié en fonction du taux de change et des disponibilités au moment de la réservation</p>
            </div>
            
            <div class="price-included">
                <div>
                    <p><i class="fas fa-check"></i>Nos prix comprennent</p>
                    <p>{{ tour.included }}</p>
                </div>

                <div>
                    <p><i class="fas fa-times"></i>Nos prix ne comprennent pas</p>
                    <p>{{ tour.notIncluded }}</p>
                </div>
            </div>
        </section>

        {# section 5 - next/previous, buttons #}
        <section>

            {# TODO
            <div class="button-next-previous">
            
                <a href="{{ path('show_tour', {'id': tour.id})}}#tour"><i class="fas fa-long-arrow-alt-left"></i>{{ tour.title }}</a>

                <a href="{{ path('show_tour', {'id': tour.id})}}#tour">{{ tour.title }}<i class="fas fa-long-arrow-alt-right"></i></a>            
            </div> #}

            <div class="button-contact">
                <form style="display: inline" action="{{ path('contact')}}#contact" method="get">
					<button>Contactez-nous pour plus d'informations</button>
				</form>
            </div>

        </section>
    </div>

{% endblock %}