{% extends 'base.html.twig' %}

{% block title %} BALI ISLAND {% endblock %}

{% block body %}

    <div id="island" class="container">
    
    {# section 1 - introduction #}
    <section>
        <h2>Bali</h2>
        <h3>L'île des Dieux</h3>
        <p>Bali, l’île la plus connue d’Indonésie vous accueille !</p>
        <p>Jungle, volcans, rizières en terrasses, hibiscus et cocotiers, forêts de bambous géants : les paysages rivalisent de beauté.</p>
        <p>Jungle, volcans, rizières en terrasses, hibiscus et cocotiers, forêts de bambous géants : les paysages rivalisent de beauté.</p>    
    </section>
    
    {# section 2 - top & iframe #}    
    <section class="flexbox-side-iframe">
        <div>
            <h4>Top des activités à Bali</h4>
            <ul>
                <li>Visites culturelles</li>
                <li>Découvertes des coutumes</li>
                <li>Plongée & snorkelling</li>
            </ul>
        </div>
        
        <div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1010290.7975268234!2d114.51105816599815!3d-8.455697404655568!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2dd22f7520fca7d3%3A0x2872b62cc456cd84!2sBali!5e0!3m2!1sfr!2sfr!4v1623164717761!5m2!1sfr!2sfr" width="420" height="315" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
    </section>

    {# section 3 - activities #}
    <section>
        <h3>Les activités à Bali - Nos recommandations</h3>

    <section id="wrapper">
    <div class="content">
        <!-- Tab links -->
        <div class="tabs">
            <button class="tablinks active" data-country="London"><p data-title="London">VIE TRADITIONNELLE</p></button>
            <button class="tablinks" data-country="Paris"><p data-title="Paris">COUTUMES LOCALES</p></button>
            <button class="tablinks" data-country="Barcelona"><p data-title="Barcelona">ART & CULTURE</p></button>
            <button class="tablinks" data-country="Madrid"><p data-title="Madrid">SPORT</p></button>
        </div>

        <!-- Tab content -->
        <div class="wrapper_tabcontent">
            <div id="London" class="tabcontent active">
                <h3>VIE TRADITIONNELLE</h3>
                <p>London is the capital of Great Britain. It is one of the greatest cities in the world. It is an important business and financial centre. It is an intellectual centre, too. Everywhere in London, there are open spaces: Hyde Park and Regent Park are the largest. The City is the oldest part of London. </p>
            </div>

            <div id="Paris" class="tabcontent">
                <h3>Paris</h3>
                <p>Paris is in the Paris department of the Paris-Isle-of-France region The French historic, political and economic capital, with a population of only 2.5 million is located in the northern part of France. One of the most beautiful cities in the world. Home to historical monuments such as Notre Dame, the Eiffel tower (320m), Bastille, Louvre and many more. </p>
            </div>

            <div id="Barcelona" class="tabcontent">
                <h3>Barcelona</h3>
                <p>Barcelona has been an urban laboratory since the high Medieval Ages. A place of diversity, a backdrop for a multiplicity of social and cultural processes on multiple scales that reflect different ways of constructing the future, a city with a long experience of urban life and social innovations. </p>
            </div>

            <div id="Madrid" class="tabcontent">
                <h3>Madrid</h3>
                <p>Madrid is in the middle of Spain, in the Community of Madrid. The Community is a large area that includes the city as well as small towns and villages outside the city. 7 million people live in the Community. More than 3 million live in the city itself. 
                </p>
            </div>
        </div>
    </div>
    </section>
    </section>

    {# section 4 - photos #}


    {# section 5 - presentation #}
    <section>
        <h3>Découvrez l’île de Bali</h3>
        <p>Parmi toutes les îles qui composent l’Indonésie, il en est une petite, véritable perle qui n’a cessé d’exciter l’imagination des voyageurs : Bali, paradis des Dieux… et des peuples ; terre des cérémonies et des offrandes, du sourire et de l’accueil. </p>
        <p>Jungle, volcans, rizières en terrasses, hibiscus et cocotiers, forêts de bambous géants : les paysages rivalisent de beauté.</p>
        <p>A côté des paysages somptueux, il y a surtout une population gaie et paisible, des enfants qu’on ne voit jamais pleurer… Et quand arrive la fin du jour, tous les balinais se baignent dans les rivières avec innocence et simplicité, on ne peut s’empêcher d’évoquer la notion de paradis terrestre.</p>
        <p>Les balinais ont un sens inné de la beauté et leur hospitalité n’a d’égal que leur gentillesse. Ils vivent dans l’harmonie et leur spiritualité atteint même les européens les plus pragmatiques.</p>
        <p>Ce qui frappe les esprits à BALI, c’est la force de leurs croyances : l’hindouisme de la population balinaise est unique au monde : c’est ce qui fait son charme et sa magie. Les balinais vivent leur religion quotidiennement et passent beaucoup de temps à faire des offrandes aux dieux, à se réunir lors de processions ou de fêtes de temples, combats de coq ou réunions de village. Il ne se passe pas un jour sans qu’un village ou un temple soit en fête : longues processions dans les plus beaux atours et danses traditionnelles au son du gamelan.</p>
        <p>Contrairement aux idées reçues, les plages ne sont pas les plus belles à Bali : sable noir ou gris, violents courants, ou au contraire barrière de corail qui fait se retirer la mer à marée basse. C’est à l’intérieur de l’île que vous trouverez l’émerveillement, c’est en sillonnant les petites routes de rizières en terrasses où la vie quotidienne n’a pas changé depuis des siècles que vous serez pénétrés de la magie balinaise, de ses rites et de ses parfums enivrants.</p>
    
    </section>

    {# section 6 - tours #}

    <section class="flexbox-center-tours">
        <h3>Nos circuits</h3>

        <div class="center-tours">

            {# To display several tours here:  #}            
            {% for tour in tours %} 
                {% if tour.id == 1 %}
                    <a href="{{ path('show_tour', {id: tour.id}) }}">
                        <div>
                            <p>{{ tour.title }}</p>
                            <p>{{ tour.duration }} jours</p>
                            <p>A partir de {{ tour.price }} € par personne</p>
                        </div>
                    </a>
                {% endif %}
            {% endfor %}

            {% for tour in tours %} 
                {% if tour.id == 1 %}
                    <a href="{{ path('show_tour', {id: tour.id}) }}">
                        <div>
                            <p>{{ tour.title }}</p>
                            <p>{{ tour.duration }} jours</p>
                            <p>A partir de {{ tour.price }} € par personne</p>
                        </div>
                    </a>
                {% endif %}
            {% endfor %}

            {% for tour in tours %} 
                {% if tour.id == 1 %}
                    <a href="{{ path('show_tour', {id: tour.id}) }}">
                        <div>
                            <p>{{ tour.title }}</p>
                            <p>{{ tour.duration }} jours</p>
                            <p>A partir de {{ tour.price }} € par personne</p>
                        </div>
                    </a>
                {% endif %}
            {% endfor %}
        </div>
    </section>

    </div>
{% endblock %}
