{% extends 'base.html.twig' %}

{% block title %} Bali {% endblock %}

{% block body %}

    <div id="island" class="wrapper">
    
        {# section 1 - introduction #}
        <section class="introduction">
            <h2>Bali</h2>
            <h3>L'île des Dieux</h3>
            <p>Bali, l’île la plus connue d’Indonésie vous dévoile son charme inégalable. </p>
            <p>Entre jungles, volcans, rizières en terrasses, hibiscus, cocotiers, forêts de bambous : les paysages rivalisent de beauté.</p>
            <p>Quant aux balinais, peuple doux et paisible, ils ont su garder leurs traditions : un fascinant mélange d’hindouisme et d’animisme. Leur quotidien est rythmé par les rituels et des cérémonies hautes en couleur où les visiteurs sont accueillis chaleureusement. </p>
            <p>Pour expérimenter Bali, il faut s’aventurer en dehors des sentiers battus, c’est là où la magie balinaise vous enchantera !</p>
        </section>


        {# section 2 - photo carousel #}        
        <section id="photos-slider">
            <div id="image-slider" class="splide">
                <div class="splide__track">
                    <ul class="splide__list">
                        <li class="splide__slide">
                            <img src="{{ asset('../assets/images/priest.jpg') }}">
                        </li>
                        <li class="splide__slide">
                            <img src="{{ asset('../assets/images/header.jpg') }}">
                        </li>
                        <li class="splide__slide">
                            <img src="{{ asset('../assets/images/wedding.jpg') }}">
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        
        {# section 3 - top & iframe #}    
        <section class="topandmap">
            <div class="top-activities">
                <h4>Top des activités à Bali</h4>

                <ol class="gradient-list">
                    <li>Visites culturelles & vie locale</li>
                    <li>Randonnées</li>
                    <li>Yoga & bien-être</li>
                    <li>Plongée & snorkelling</li>
                </ol>
            </div>            
            
            <div>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1010290.7975268234!2d114.51105816599815!3d-8.455697404655568!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2dd22f7520fca7d3%3A0x2872b62cc456cd84!2sBali!5e0!3m2!1sfr!2sfr!4v1623164717761!5m2!1sfr!2sfr" width="520" height="400" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </section>

        {# Iframe for regions #}
        <iframe src="https://www.google.com/maps/d/embed?mid=1WMD10Vw463wgIh_H3ryUVRrpMN4rLy3s" width="640" height="480"></iframe>

        {# Iframe for beaches #}
        <iframe src="https://www.google.com/maps/d/embed?mid=1EH0Q0gxQPSHvJl-tmBwSh7TU2bPoss3r" width="640" height="480"></iframe>

        {# section 4 - activities #}
        <div class="activities-container">

            <h3>Les activités à Bali - Nos recommandations :</h3>
            <p>Les principales activités à faire à Bali en fonction de vos goûts et des différentes régions, ainsi que notre sélection des meilleures visites et expériences.</p>

            <div class="tab-wrap">

                <!-- active tab on page load gets checked attribute -->
                <input type="radio" id="tab1" name="tabGroup1" class="tab" checked>
                <label for="tab1">LES RÉGIONS</label>

                <input type="radio" id="tab2" name="tabGroup1" class="tab">
                <label for="tab2">VIE & COUTUMES</label>

                <input type="radio" id="tab3" name="tabGroup1" class="tab">
                <label for="tab3">LES PLAGES</label>

                <input type="radio" id="tab4" name="tabGroup1" class="tab">
                <label for="tab4">SPORT & AVENTURE</label>

                <div class="tab__content tab1">
                    <div>
                        <div class="dropdown">
                            <h4>• Au centre, Ubud</h4>
                            <div class="icon">
                                <span class="btn">
                                    <i class=" f far fa-plus-square"></i>
                                </span>
                            </div>
                        </div>
                        <div class="a textcontent">
                            <p>Visite de la CAPITALE CULTURELLE de l’île : découvertes des GALERIES d’ART et des MUSÉES ; balade dans la FORÊT des SINGES ; initiation au YOGA ; dégustation de spécialités dans les RESTAURANTS traditionnels ; Shopping au grand MARCHÉ d’art et d’artisanat et dans les boutiques du centre-ville.</p>
                            <p>Dans les alentours d’Ubud, découverte des ATELIERS d’artisans de Batubulan, Celuk et Mas où l’on travaille la pierre, l’or et l’argent et le bois.</p>
                            <p>Balade dans les RIZIÈRES comme à Tegallalang ; promenade à VÉLO ou à pied dans la campagne environnante ; sortie Rafting ou Jeep.</p>
                            <p>Visites des TEMPLES de Goa Gajah et Gunung Kawi ; les SOURCES SACRÉES de Sebatu.</p>
                        </div>

                    <div class="dropdown">
                        <h4>• Les campagnes à l’Ouest</h4>
                            <div class="icon">
                                <span class="btn">
                                    <i class="far fa-plus-square"></i>
                                </span>
                            </div>
                        </div>
                        <div class="b textcontent">
                            <p>La région de Tabanan et ses villages traditionnels, ses plantations et ses rizières, ses habitants accueillants. C’est ici qu’on découvre le vrai Bali ! On se balade à pied ou en vélo à travers les campagnes.</p>
                            <p>A Mengwi, visite du TEMPLE de Taman Ayun ; en bord de mer, celui de Tanah Lot, l’un des plus réputé de l’île.</p>
                            <p>A Blimbling, plus au centre, découverte des fruits et des épices locales en traversant les plantations.</p>
                        </div>
                    
                    <div class="dropdown">
                        <h4>• La région des lacs au Nord</h4>
                            <div class="icon">
                                <span class="btn">
                                    <i class="far fa-plus-square"></i>
                                </span>
                            </div>
                        </div>
                        <div class="c textcontent">
                            <p>Au Nord d’Ubud, la région des LACS Buyan, Tamblingan et Bratan est plus fraîche et plus montagneuse. Dans le petit village de Munduk, on randonne dans la forêt tropicale, on se baigne dans les cascades et on rencontre les habitants pour partager leur culture.</p>
                            <p>Plus au Nord, les SOURCES CHAUDES de Banjar sont situées au milieu d’un jardin luxuriant et d’une jungle accueillante ; visite du TEMPLE de Banjar, le seul monastère bouddhique de Bali.</p>
                            <p>Autour du village de Bedugul, au bord du lac BRATAN, découverte du TEMPLE semi-aquatique d’Ulun Danu, consacré à la déesse des eaux. Plus bas, balade dans les RIZIÈRES en terrasses de Jatiluwih, classées au Patrimoine de l’Unesco.</p>
                        </div>

                    <div class="dropdown">
                        <h4>• Authenticité et volcans à l’Est</h4>
                            <div class="icon">
                                <span class="btn">
                                    <i class="far fa-plus-square"></i>
                                </span>
                            </div>
                        </div>
                        <div class="d textcontent">
                            <p>La région des VOLCANS Batur et Agung au Nord-Est de l’île, découverte du LAC de CRATÈRE Danau, déjeuner au VILLAGE de MONTAGNE de Kintamani avec vue panoramique ; descente en VÉLO au travers des villages ; ASCENSION des volcans ; visite du temple mère BESAKIH, le plus important de Bali.</p>
                            <p>Au centre, le VILLAGE AUTHENTIQUE de Sidemen pour vivre la magie balinaise ! Rencontre avec les habitants, découverte de leur culture et leur vie quotidienne, ateliers de fabrication d’artisanat, cours de cuisine traditionnelle, etc.</p>
                            <p>BALADE dans les rizières et les villages de campagne, à pied, à vélo ou en scooter ; RAFTING sur la rivière ; cours de YOGA.</p>
                            <p>Plus au sud, visite des BAINS ROYAUX de Tirtagganga ou de Taman Ujung ; balade au village ANIMISTE de Tenganan ; découverte du GRAND MARCHÉ de Klungklung ; visite du TEMPLE de Goa Lawah</p>
                        </div>

                    <div class="dropdown">
                        <h4>• Les îles de Nusa Penida et Lembongan</h4>
                            <div class="icon">
                                <span class="btn">
                                    <i class="far fa-plus-square"></i>
                                </span>
                            </div>
                        </div>
                        <div class="e textcontent">
                            <p>A 20 minutes en bateau de Bali, les deux îles sont des petits paradis de tranquillité.</p>
                            <p>Nusa Lembongan, est la plus petite et seuls les scooters circulent. On profite de la plage et de la mer : sorties plongée ou Snorkeling autours des deux îles de Lembongan et Penida, spots de surf accessibles en bateau.</p>
                            <p>A Nusa Penida, les plages sont plus sauvages et l’on peut organiser des visites : au TEMPLE de Goa Giri Putri situé dans une grotte, les ATELIERS de tissages à Tanglad, les PISCINES NATURELLES à Tembling, etc.</p>
                        </div>
                    </div>
                    <div>
                        {# <iframe src="https://www.google.com/maps/d/embed?mid=1WMD10Vw463wgIh_H3ryUVRrpMN4rLy3s" width="640" height="480"></iframe> #}
                    </div>
                </div>

                <div class="tab__content tab2">
                    <div>                    
                        <h4>• Artisanat</h4>
                        <p>Le travail du BOIS, de l’ARGENT, de l’OR, de la PIERRE autour d’Ubud ; la POTERIE à Tabanan ; atelier de TISSAGE d’Ikats, les tissus traditionnels, à Sidemen ; les PEINTRES et les SCULPTEURS à Ubud… tous les balinais sont de grands artistes !</p>
                        
                        <h4>• Savoir-faire</h4>
                        <p>COURS de CUISINE balinaise, GUÉRISSEUR traditionnel (balian), fabrication de propres cosmétiques naturelles et de boissons à base de plantes médicinales (JAMUS) ; fabrication d’OFFRANDES ; fabrication de l’Arak, l’ALCOOL local</p>
                        
                        <h4>• Cérémonies</h4>
                        <p>Processions, offrandes, CÉRÉMONIES matinales au temple… elles sont partout à Bali et les visiteurs sont les bienvenus !</p>
                        
                        <h4>• Soins & bien-être</h4>
                        <p>MASSAGE traditionnel balinais ; SOIN au spa ; cours de YOGA et de MÉDITATION ; Bali est le lieu idéal pour prendre soin de soi !</p>
                    </div>
                </div>

                <div class="tab__content tab3">
                    <div>                    
                        <h4> • Sanur</h4>
                        <p>Station balnéaire calme qui a su garder son authenticité et où les balinais s’y rendent souvent le weekend. Les plages de sable blanc sont très agréables, bordées de petits restaurants. Les eaux sont tranquilles car elles sont protégées par une barrière de corail, la baignade y est donc facile et elle suit les horaires de marées.</p>
                        <p>On y trouve de nombreux restaurants et bars, des petites boutiques de vêtements, d’artisanat. On peut faire un tour au marché de nuit et manger sur les échoppes traditonnelles.
                        </p>
                        
                        <h4>• Kuta et ses environs</h4>
                        <p>La côte sud-ouest accueille la plus grande station de l’île, très animée. On profite des nombreux bars, restaurants et boutiques, vendeurs ambulants, … ambiance garantie !</p>
                        <p>La plage est très belle car très longue et large, de sable blanc. Il y a quelques spots de surf très connus dispersés tout le long et la baignade se fait donc en fonction des conditions maritimes. C’est aussi le lieu idéal pour profiter, allongés sur le sable, des plus beaux couchers de soleil de Bali.</p>
                        <p>Kuta est la plage la plus connue et la plus animée, elle est prisée par de nombreux jeunes et des familles. Tout à côté, Legian fait maintenant partie de Kuta.</p>
                        <p>Seminyak est la plus chic et propose de très bonnes tables, des bars et des boîtes de nuits branchées.</p>
                        <p>Canggu commence à ressembler à sa voisine Seminyak, tout en gardant une ambiance plus détendue avec ses bars et restaurants décontractés fréquentés par les jeunes, les surfeurs et les yogis.</p>
                        
                        <h4>• Jimbaran</h4>
                        <p>Jimbaran est un charmant village de pêcheurs bordé par une immense plage de sable blond. Les eaux sont relativement tranquilles et on peut nager sans danger.</p>
                        <p>On peut se balader au marché aux poissons traditionnel en fin d’après-midi puis déguster la pêche du jour dans l’un des restos de plage, les pieds dans l’eau !</p>
                        
                        <h4> • Au sud, Bukit</h4>
                        <p>Plus au sud, la péninsule du Bukit moins fréquentées que les villes côtières du sud. Les paysages sont plus arides et ses plages préservées en bas des falaises. On peut s’y baigner ou surfer sur les fameux spots d’Uluwatu, Bingin, Dreambeach, etc.</p>
                        <p>C’est là également que se trouve le temple d’ULUWATU, connu pour son panorama, ses singes et ses spectacles quotidiens de danse KECAK.</p>
                        
                        <h4> • Nusa Dua</h4>
                        <p>A Nusa Dua, la partie Est de la péninsule du Bukit, offre de belles plages de sable blanc protégées par des barrières de corail, la baignade y est très sûre.</p>
                        <p>C’est une station familiale où de nombreuses activités aquatiques sont proposées (jetski, bouées, etc.).</p>
                        <p>Les formules tout-inclus des hôtels et leur standing européens séduiront les plus exigeants.</p>
                        
                        <h4> • Côte Est</h4>
                        <p>Candidasa est une station peu fréquentée, principalement par une clientèle retraitée, où quelques hôtels sont dispersés sur la côte. Les plages sont petites et disparaissent à marée haute, la baignade se fait donc en fonction des marées.</p>
                        <p>On y trouve sur la côte quelques spots de surf de niveau assez difficile (Ketewel, Keramas, Padang Bai, etc.).</p>
                        <p>Pasir Putih est une très belle plage de sable blanc où l’on peut dégustez des grillades de poissons frais sur la plage. On peut également profiter de sortie Snorkeling en Prahu, petit bateau traditionnel.</p>
                        <p>Et c’est de Padang Bai que partent les bateaux rapides vers les îles Gilis, Nusa Lembongan, etc.</p>
                    </div>
                </div>

                <div class="tab__content tab4">
                    <div>                    
                        <h4>• Vélo</h4>
                        <p>Descente des volcans à VÉLO ; balade dans les campagnes, à travers les villages et les rizières de Tabanan ou Sidemen</p>
                        <h4>• Randonnée & volcans</h4>
                        <p>L’ascension des volcans BATUR et AGUNG ; les randonnées dans la jungle, les rizières ou les forêts.</p>
                        <h4>• Plongée & Snorkeling</h4>
                        <p>Sur les sites d’AMED et de TULAMBEN ; Dans le Parc National de MENJGANGAN, près de Pemuteran ; Autours des îles de NUSA PENIDA et NUSA LEMBONGAN</p>
                        <h4>• Rafting, canyoning et cascades</h4>
                        <p>Des sorties RAFTING à Ubud et à Sidemen ; du CANYONING près de Munduk ; baignade dans les cascades du nord, à GITGIT, à Blimbilng, à Munduk, etc.</p>
                        <h4>• Surf & kite surf</h4>
                        <p>Les spots de KITE SURT de SANUR et ses alentours ; les nombreux spots de SURF du Bukit, de Kuta, Seminyak, Canggu, de Medewi, Nusa Lemongan, …</p>

                        <h4>• Les sorties en bateau</h4>
                        <p>Balade en PIROGUE à Lovina ; en PRAHU, petit bateau de pêcheur, à Amed ; en CATAMARAN à Nusa Lemongan</p>
                    </div>
                </div>
            </div>
        </div>
        

        {# section 5 - presentation #}
        <section class="presentation">

            <h3>Découvrez l’île de Bali</h3>
            <p>Parmi toutes les îles qui composent l’Indonésie, il en est une petite, <strong>véritable perle</strong> qui n’a cessé d’exciter l’imagination des voyageurs : Bali, paradis des Dieux… et des peuples ; terre des cérémonies et des offrandes, du sourire et de l’accueil.</p>
            <p>A côté des <strong>paysages somptueux</strong>, il y a surtout une population <strong>gaie et paisible</strong>. Quand arrive la fin du jour, tous les balinais se baignent dans les rivières avec innocence et simplicité, on ne peut s’empêcher d’évoquer la notion de paradis terrestre.</p>
            <p>Les balinais ont un sens inné de la <strong>beauté</strong> et leur <strong>hospitalité</strong> n’a d’égal que leur gentillesse. Ils vivent dans l’harmonie et leur spiritualité atteint même les européens les plus pragmatiques.</p>
            <p>Ce qui frappe les esprits à BALI, c’est la force de leurs croyances : l’hindouisme de la population balinaise est unique au monde : c’est ce qui fait son charme et sa magie. Les balinais vivent leur religion quotidiennement et passent beaucoup de temps à faire des offrandes aux dieux, à se réunir lors de <strong>cérémonies</strong>, des processions ou de fêtes de temples, combats de coq ou réunions de village. Il ne se passe pas un jour sans qu’un village ou un temple soit en <strong>fête</strong> : longues processions dans les plus beaux atours et <strong>danses traditionnelles</strong> au son du gamelan.</p>
            <p>Mais c’est <strong>à l’intérieur de l’île</strong> que vous trouverez <strong>l’émerveillement</strong>, c’est en sillonnant les petites routes de rizières en terrasses où la vie quotidienne n’a pas changé depuis des siècles que vous serez pénétrés de la magie balinaise, de ses rites et de ses parfums enivrants.</p>
            <p></p>
        
        </section>

        {# section 6 - tours #}

        <section class="tours-section">
            
            <h3>Nos circuits à Bali</h3>

            <div class="tours-cards">
            {# To display several tours here:  #}
                {# tour nº1 #}
                {% for tour in tours %} 
                    {% if tour.id == 1 %}
                        <figure class="image-block">
                            {# <h3>{{ tour.islands }}</h3> #}
                            <img src="{{ asset('../assets/images/tours/bukit.jpg') }}" alt="" />
                            <figcaption>
                                <h4>{{ tour.title }}</h4>
                                <p>{{ tour.description }}</p>
                                <p>À partir de {{ tour.price }} € par personne</p>
                                <button>
                                    Découvrez
                                </button>
                            </figcaption>
                        </figure>
                    {% endif %}
                {% endfor %}

                {# tour nº2 #}
                {% for tour in tours %} 
                    {% if tour.id == 1 %}
                        <figure class="image-block">
                            {# <h3>{{ tour.islands }}</h3> #}
                            <img src="{{ asset('../assets/images/tours/bukit.jpg') }}" alt="" />
                            <figcaption>
                                <h4>{{ tour.title }}</h4>
                                <p>{{ tour.description }}</p>
                                <p>À partir de {{ tour.price }} € par personne</p>
                                <button>
                                    Découvrez
                                </button>
                            </figcaption>
                        </figure>
                    {% endif %}
                {% endfor %}

                {# tour nº3 #}
                {% for tour in tours %} 
                    {% if tour.id == 1 %}
                        <figure class="image-block">
                            {# <h3>{{ tour.islands }}</h3> #}
                            <img src="{{ asset('../assets/images/tours/bukit.jpg') }}" alt="" />
                            <figcaption>
                                <h4>{{ tour.title }}</h4>
                                <p>{{ tour.description }}</p>
                                <p>À partir de {{ tour.price }} € par personne</p>
                                <button>
                                    Découvrez
                                </button>
                            </figcaption>
                        </figure>
                    {% endif %}
                {% endfor %}
            </div>
        </section>

        
    
    </div>

{% block javascripts %}
     {{ parent() }}
     {{ encore_entry_script_tags('island') }}
{% endblock %}

{% endblock %}
