{% extends 'base.html.twig' %}

{% block title %} Bali {% endblock %}

{% block body %}

    <div id="island">
    
        {# section 1 - introduction #}
        <section class="introduction">
            <h2>Bali</h2>
            <h3>L'île des Dieux</h3>
            <p>Bali, l’île la plus connue d’Indonésie vous dévoile son charme inégalable. </p>
            <p>Entre jungles, volcans, rizières en terrasses, hibiscus, cocotiers, forêts de bambous : les paysages rivalisent de beauté.</p>
            <p>Quant aux balinais, peuple doux et paisible, ils ont su garder leurs traditions : un fascinant mélange d’hindouisme et d’animisme. Leur quotidien est rythmé par les rituels et des cérémonies hautes en couleur où les visiteurs sont accueillis chaleureusement. </p>
            <p>Pour expérimenter Bali, il faut s’aventurer en dehors des sentiers battus, c’est là où la magie balinaise vous enchantera !</p>
        </section>

        {# section 2 - photo carousel #}
        <section>



        </section>
        
        {# section 3 - top & iframe #}    
        <section class="flexbox-sidebyside">
            <div class="top-activities">
                <h4>Top des activités à Bali</h4>
                <ul>
                    <li>Visites culturelles & vie locale</li>
                    <li>Randonnées</li>
                    <li>Yoga & bien-être</li>
                    <li>Plongée & snorkelling</li>
                </ul>
            </div>
            
            <div>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1010290.7975268234!2d114.51105816599815!3d-8.455697404655568!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2dd22f7520fca7d3%3A0x2872b62cc456cd84!2sBali!5e0!3m2!1sfr!2sfr!4v1623164717761!5m2!1sfr!2sfr" width="420" height="315" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </section>

        {# section 4 - activities #}
        <div class="container">

            <h3>Les activités à Bali - Nos recommandations :</h3>
            <p>Les principales activités à faire à Bali en fonction de vos goûts, ainsi que notre sélection des meilleures visites et expériences.</p>

            <div class="tab-wrap">

            <!-- active tab on page load gets checked attribute -->
            <input type="radio" id="tab1" name="tabGroup1" class="tab" checked>
            <label for="tab1">VIE & COUTUMES</label>

            <input type="radio" id="tab2" name="tabGroup1" class="tab">
            <label for="tab2">ART & CULTURE</label>

            <input type="radio" id="tab3" name="tabGroup1" class="tab">
            <label for="tab3">SPORT & AVENTURE</label>

            <input type="radio" id="tab4" name="tabGroup1" class="tab">
            <label for="tab4">FAUNE & FLORE</label>

            <div class="tab__content flexbox-sidebyside">
                <div>                    
                    <h4>Les villes & villages</h4>
                    <p>Ubud, la capitale culturelle de l’île ; la bruyante et curieuse ville de Denpasar ; rencontre avec les balinais dans les villages plus reculés à Sidemen, Blimbling ou Munduk ; repas et nuit chez l’habitant</p>
                    <h4>Les cultures & les plantations</h4>
                    <p>Les rizières en terrasse de Tegalallang, Jatiluwih ou Blimbling ; les plantations de café, giroflier, cacao, vanille, etc.</p>
                    <h4>Les cérémonies</h4>
                    <p>Processions, offrandes, cérémonies matinales au temple… elles sont partout à Bali et les visiteurs sont les bienvenus ! </p>
                    <h4>Les savoir-faire</h4>
                    <p>Prendre un cours de cuisine balinais, consulter un guérisseur traditionnel (balian), fabriquer des propres cosmétiques naturelles, concocter des boissons à base de plantes médicinales (jamus) ; fabriquer des offrandes</p>
                    <h4>Les soins & le bien-être</h4>
                    <p>Profiter d’un massage traditionnel balinais ; apprendre le yoga et la méditation</p>
                </div>
                <img src="{{ asset('../assets/images/icons/house.jpg') }}">
            </div>

            <div class="tab__content flexbox-sidebyside">
                <div>                    
                    <h4>Les visites des temples</h4>
                    <p>Des plus connus comme celui de Tanah Lot ou Uluwatu, au plus discrets comme Taman Ayu, Pura Kehen ; les palais aquatiques de Tirtagganga ou Taman Ujung ; les sources chaudes de Sebatu ou de Banjar</p>
                    <h4>Les spectacles de danses</h4>
                    <p>Les danses Kecak à Uluwatu ; les danses traditionnelles du Palais d’Ubud ; les danses barong</p>
                    <h4>L'artisanat local</h4>
                    <p>Le travail du bois, de l’argent, de l’or, de la pierre autour d’Ubud ; la poterie à Tabanan ; … les balinais sont de grands artistes !</p>
                    <h4>Les musées & galeries</h4>
                    <p>Visite des musées et des galeries d’art à Ubud et à Denpasar.</p>
                </div>
                <img src="{{ asset('../assets/images/icons/brush.jpg') }}" alt="house-icon">
            </div>

            <div class="tab__content flexbox-sidebyside">
                <div>                    
                    <h4>Le vélo</h4>
                    <p>Descente des volcans à vélo ; balade dans les campagnes, à travers les villages et les rizières</p>
                    <h4>La randonnée & les volcans</h4>
                    <p>L’ascension des volcans Batur et Agung ; les randonnées dans la jungle, les rizières ou les forêts.</p>
                    <h4>La plongée et le Snorkelling</h4>
                    <p>Sur les sites d’Amed, Menjangan, Nusa Penida, Nusa Lembongan, etc.</p>
                    <h4>Le rafting & canyoning</h4>
                    <p>Les sorties rafting à Ubud et à Sidemen ; du canyoning près de Munduk</p>
                    <h4>Le surf & kite surf</h4>
                    <p>Les spots de kite surf de Sanur et ses alentours ; les nombreux spots de surfs du Bukit, de Kuta, Seminyak, Canggu, de Medewi, Nusa Lemongan, …</p>
                    <h4>Les sorties en bateau</h4>
                    <p>Balade en pirogue à Lovina ; en prahu à Ahmed, en catamaran à Nusa Lemongan</p>
                </div>
                <img src="{{ asset('../assets/images/icons/snorkelling.jpg') }}" alt="snorkelling-icon">
            </div>

            <div class="tab__content flexbox-sidebyside">
                <div>                    
                    <h4>Flore</h4>
                    <p>Paysages de rizières, de jungle, de volcans, de cascades, de forêts</p>
                    <h4>Plages</h4>
                    <p>De sable blond, noir, des récifs coraliens, des eaux calmes, des spots de surf.</p>
                    <h4>Faune</h4>
                    <p>Des fonds marins riches en poissons et en coraux à Amed, Pemuteran, Nusa Lembongan, Nusa Penida, etc. Des singes, des dauphins, des biches, des oiseaux, …</p>
                </div>                
                <img src="{{ asset('../assets/images/icons/flower.jpg') }}"  alt="flower-icon">
            </div>

        </div>

        {# section 5 - presentation #}
        <section class="presentation">
            <h3>Découvrez l’île de Bali</h3>
            <p>Parmi toutes les îles qui composent l’Indonésie, il en est une petite, <strong>véritable perle</strong> qui n’a cessé d’exciter l’imagination des voyageurs : Bali, paradis des Dieux… et des peuples ; terre des cérémonies et des offrandes, du sourire et de l’accueil.</p>
            <p>A côté des <strong>paysages somptueux</strong>, il y a surtout une population <strong>gaie et paisible</strong>. Quand arrive la fin du jour, tous les balinais se baignent dans les rivières avec innocence et simplicité, on ne peut s’empêcher d’évoquer la notion de paradis terrestre.</p>
            <p>Les balinais ont un sens inné de la <strong>beauté</strong> et leur <strong>hospitalité</strong> n’a d’égal que leur gentillesse. Ils vivent dans l’harmonie et leur spiritualité atteint même les européens les plus pragmatiques.</p>
            <p>Ce qui frappe les esprits à BALI, c’est la force de leurs croyances : l’hindouisme de la population balinaise est unique au monde : c’est ce qui fait son charme et sa magie. Les balinais vivent leur religion quotidiennement et passent beaucoup de temps à faire des offrandes aux dieux, à se réunir lors de <strong>cérémonies</strong>, des processions ou de fêtes de temples, combats de coq ou réunions de village. Il ne se passe pas un jour sans qu’un village ou un temple soit en <strong>fête</strong> : longues processions dans les plus beaux atours et <strong>danses traditionnelles</strong> au son du gamelan.</p>
            <p>Mais c’est <strong>à l’intérieur de l’île</strong> que vous trouverez <strong>l’émerveillement</strong>, c’est en sillonnant les petites routes de rizières en terrasses où la vie quotidienne n’a pas changé depuis des siècles que vous serez pénétrés de la magie balinaise, de ses rites et de ses parfums enivrants.</p>
            <p></p>
        
        </section>

        {# section 6 - tours #}

        <section class="tours-section">
            <h3>Nos circuits à Bali</h3>

            <div class="tours-cards">
                {# To display several tours here:  #}
                {# tour nº1 #}
                {% for tour in tours %} 
                    {% if tour.id == 1 %}
                    <div class="tour-card">
                        <a href="{{ path('show_tour', {id: tour.id}) }}">
                            
                                <p>{{ tour.title }}</p>
                                <p>{{ tour.duration }} jours</p>
                                <p>A partir de {{ tour.price }} € par personne</p>
                           
                        </a>
                    </div>
                    {% endif %}
                {% endfor %}

                {# tour nº2 #}
                {% for tour in tours %} 
                    {% if tour.id == 1 %}
                    <div class="tour-card">
                        <a href="{{ path('show_tour', {id: tour.id}) }}">
                            <div>
                                <p>{{ tour.title }}</p>
                                <p>{{ tour.duration }} jours</p>
                                <p>A partir de {{ tour.price }} € par personne</p>
                            </div>
                        </a>
                    </div>
                    {% endif %}
                {% endfor %}

                {# tour nº3 #}
                {% for tour in tours %} 
                    {% if tour.id == 1 %}
                    <div class="tour-card">
                        <a href="{{ path('show_tour', {id: tour.id}) }}">
                            <div>
                                <p>{{ tour.title }}</p>
                                <p>{{ tour.duration }} jours</p>
                                <p>A partir de {{ tour.price }} € par personne</p>
                            </div>
                        </a>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
        </section>

 

        </section>

    </div>
{% endblock %}
