{% extends 'base.html.twig' %}

{% block title %} Bali {% endblock %}

{% block body %}

    <div id="island" class="container">
    
    {# section 1 - introduction #}
    <section>
        <h2>Bali</h2>
        <h3>L'île des Dieux</h3>
        <p>Bali, l’île la plus connue d’Indonésie vous dévoile son charme inégalable. </p>
        <p>Entre jungles, volcans, rizières en terrasses, hibiscus, cocotiers, forêts de bambous : les paysages rivalisent de beauté.</p>
        <p>Quant aux balinais, peuple doux et paisible, ils ont su garder leurs traditions : un fascinant mélange d’hindouisme et d’animisme. Leur quotidien est rythmé par les rituels et des cérémonies hautes en couleur où les visiteurs sont accueillis chaleureusement. </p>
        <p>Pour expérimenter Bali, il faut s’aventurer en dehors des sentiers battus, c’est là où la magie balinaise vous enchantera !</p>
    </section>
    
    {# section 2 - top & iframe #}    
    <section class="flexbox-sidebyside">
        <div>
            <h4>Top des activités à Bali</h4>
            <ul>
                <li>Visites culturelles</li>
                <li>Découvertes des coutumes</li>
                <li>Plongée & snorkelling</li>
            </ul>
        </div>
        
        <div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1010290.7975268234!2d114.51105816599815!3d-8.455697404655568!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2dd22f7520fca7d3%3A0x2872b62cc456cd84!2sBali!5e0!3m2!1sfr!2sfr!4v1623164717761!5m2!1sfr!2sfr" width="420" height="315" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
    </section>

    {# section 3 - activities #}

    <div class="container">

        <h3>Les activités à Bali - Nos recommandations :</h3>

        <div class="demo-section">
        <p>Praesent nonummy mi in odio. Nullam accumsan lorem in dui. Vestibulum turpis sem, aliquet eget, lobortis pellentesque, rutrum eu, nisl. Nullam accumsan lorem in dui. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.</p>
        </div>

        <div class="tab-wrap">

        <!-- active tab on page load gets checked attribute -->
        <input type="radio" id="tab1" name="tabGroup1" class="tab" checked>
        <label for="tab1">Short</label>

        <input type="radio" id="tab2" name="tabGroup1" class="tab">
        <label for="tab2">Medium</label>

        <input type="radio" id="tab3" name="tabGroup1" class="tab">
        <label for="tab3">Long</label>

        <input type="radio" id="tab4" name="tabGroup1" class="tab">
        <label for="tab4">Long2</label>

        <div class="tab__content">
            <h3>Short Section</h3>
            <p>Praesent nonummy mi in odio. Nullam accumsan lorem in dui. Vestibulum turpis sem, aliquet eget, lobortis pellentesque, rutrum eu, nisl. Nullam accumsan lorem in dui. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.</p>
        </div>

        <div class="tab__content">
            <h3>Medium Section</h3>
            <p>Praesent nonummy mi in odio. Nullam accumsan lorem in dui. Vestibulum turpis sem, aliquet eget, lobortis pellentesque, rutrum eu, nisl. Nullam accumsan lorem in dui. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.</p>

            <p>In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Morbi mattis ullamcorper velit. Pellentesque posuere. Etiam ut purus mattis mauris sodales aliquam. Praesent nec nisl a purus blandit viverra.</p>
        </div>

        <div class="tab__content">
            <h3>Long Section</h3>
            <p>Praesent nonummy mi in odio. Nullam accumsan lorem in dui. Vestibulum turpis sem, aliquet eget, lobortis pellentesque, rutrum eu, nisl. Nullam accumsan lorem in dui. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.</p>

            <p>In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Morbi mattis ullamcorper velit. Pellentesque posuere. Etiam ut purus mattis mauris sodales aliquam. Praesent nec nisl a purus blandit viverra.</p>

            <p>Praesent nonummy mi in odio. Nullam accumsan lorem in dui. Vestibulum turpis sem, aliquet eget, lobortis pellentesque, rutrum eu, nisl. Nullam accumsan lorem in dui. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.</p>

            <p>In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Morbi mattis ullamcorper velit. Pellentesque posuere. Etiam ut purus mattis mauris sodales aliquam. Praesent nec nisl a purus blandit viverra.</p>
        </div>

        <div class="tab__content">
            <h3>Long Section2</h3>
            <p>Praesent nonummy mi in odio. Nullam accumsan lorem in dui. Vestibulum turpis sem, aliquet eget, lobortis pellentesque, rutrum eu, nisl. Nullam accumsan lorem in dui. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.</p>

            <p>In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Morbi mattis ullamcorper velit. Pellentesque posuere. Etiam ut purus mattis mauris sodales aliquam. Praesent nec nisl a purus blandit viverra.</p>

            <p>Praesent nonummy mi in odio. Nullam accumsan lorem in dui. Vestibulum turpis sem, aliquet eget, lobortis pellentesque, rutrum eu, nisl. Nullam accumsan lorem in dui. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.</p>

            <p>In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Morbi mattis ullamcorper velit. Pellentesque posuere. Etiam ut purus mattis mauris sodales aliquam. Praesent nec nisl a purus blandit viverra.</p>
        </div>

    </div>

    {# section 4 - photos #}


    {# section 5 - presentation #}
    <section>
        <h3>Découvrez l’île de Bali</h3>
        <p>Parmi toutes les îles qui composent l’Indonésie, il en est une petite, <strong>véritable perle</strong> qui n’a cessé d’exciter l’imagination des voyageurs : Bali, paradis des Dieux… et des peuples ; terre des cérémonies et des offrandes, du sourire et de l’accueil.</p>
        <p>A côté des <strong>paysages somptueux</strong>, il y a surtout une population <strong>gaie et paisible</strong>. Quand arrive la fin du jour, tous les balinais se baignent dans les rivières avec innocence et simplicité, on ne peut s’empêcher d’évoquer la notion de paradis terrestre.</p>
        <p>Les balinais ont un sens inné de la <strong>beauté</strong> et leur <strong>hospitalité</strong> n’a d’égal que leur gentillesse. Ils vivent dans l’harmonie et leur spiritualité atteint même les européens les plus pragmatiques.</p>
        <p>Ce qui frappe les esprits à BALI, c’est la force de leurs croyances : l’hindouisme de la population balinaise est unique au monde : c’est ce qui fait son charme et sa magie. Les balinais vivent leur religion quotidiennement et passent beaucoup de temps à faire des offrandes aux dieux, à se réunir lors de <strong>cérémonies</strong>, des processions ou de fêtes de temples, combats de coq ou réunions de village. Il ne se passe pas un jour sans qu’un village ou un temple soit en <strong>fête</strong> : longues processions dans les plus beaux atours et </strong>danses<strong> traditionnelles au son du gamelan.</p>
        <p>Mais c’est <strong>à l’intérieur de l’île</strong> que vous trouverez <strong>l’émerveillement</strong>, c’est en sillonnant les petites routes de rizières en terrasses où la vie quotidienne n’a pas changé depuis des siècles que vous serez pénétrés de la magie balinaise, de ses rites et de ses parfums enivrants.</p>
        <p></p>
    
    </section>

    {# section 6 - tours #}

    <section class="flexbox-center-tours">
        <h3>Nos circuits à Bali</h3>

        <div class="center-tours">

            {# To display several tours here:  #}            
            {% for tour in tours %} 
                {% if tour.id == 1 %}
                    <a href="{{ path('show_tour', {id: tour.id}) }}">
                        <div>
                            <p>{{ tour.title }}</p>
                            <p>{{ tour.duration }} jours</p>
                            <p>A partir de {{ tour.price }} € par personne</p>
                        </div>
                    </a>
                {% endif %}
            {% endfor %}

            {% for tour in tours %} 
                {% if tour.id == 1 %}
                    <a href="{{ path('show_tour', {id: tour.id}) }}">
                        <div>
                            <p>{{ tour.title }}</p>
                            <p>{{ tour.duration }} jours</p>
                            <p>A partir de {{ tour.price }} € par personne</p>
                        </div>
                    </a>
                {% endif %}
            {% endfor %}

            {% for tour in tours %} 
                {% if tour.id == 1 %}
                    <a href="{{ path('show_tour', {id: tour.id}) }}">
                        <div>
                            <p>{{ tour.title }}</p>
                            <p>{{ tour.duration }} jours</p>
                            <p>A partir de {{ tour.price }} € par personne</p>
                        </div>
                    </a>
                {% endif %}
            {% endfor %}
        </div>
    </section>

    </div>
{% endblock %}
