{% extends 'base.html.twig' %}

{% block title %} Flores {% endblock %}

{% block body %}

    <div id="island">    
        <div class="wrapper">

            {# section 1 - introduction #}
            <section class="introduction">
                <h2 id="flores-title">Flores</h2>
                <h4>Paradis authentiques</h4>
                <div class="introduction-paragraph">
                    <div class=''>
                        <p>L’île de Flores connue grâce au Parc National de Komodo, a bien d’autres secrets à dévoiler !</p>
                        <p>L’île aux 12 volcans est bordée de plages paradisiaques et de parc nationaux, et c’est en la traversant par les petits villages de l’intérieur que l’on découvre ses coutumes ancestrales et ses habitants accueillants.</p>
                    </div>
                    <div>
                        <img src="{{ asset('../assets/images/icons/icon-hibiscusflower.png') }}" alt="Dessin d'une fleur d'hibiscus">
                    </div>
                </div>
            </section>
        </div>

        {# section 2 - photo carousel #}        
        <section id="photos-slider">
            <div id="image-slider" class="splide">
                <div class="splide__track">
                    <ul class="splide__list">
                        <li class="splide__slide">
                            <img src="{{ asset('../assets/images/florespage/flores3.jpg') }}" alt="komodo">
                        </li>
                        <li class="splide__slide">
                            <img src="{{ asset('../assets/images/florespage/flores4.jpg') }}" alt="ricefields flores">
                        </li>
                        <li class="splide__slide">
                            <img src="{{ asset('../assets/images/florespage/flores5.jpg') }}" alt="komodo dragon">
                        </li>
                        <li class="splide__slide">
                            <img src="{{ asset('../assets/images/florespage/flores7.jpg') }}" alt="flores pink beach">
                        </li>
                        <li class="splide__slide">
                            <img src="{{ asset('../assets/images/florespage/flores9.jpg') }}" alt="flores weaving">
                        </li>
                        <li class="splide__slide">
                            <img src="{{ asset('../assets/images/florespage/flores6.jpg') }}" alt="flores village">
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        
        <div class="wrapper">
            {# section 3 - top activites & map #}    
            <section class="topandmap">
                <div class="top-activities">
                    <h4>Top des activités à Flores</h4>

                    <ol class="gradient-list">
                        <li>Vie traditionnelle</li>
                        <li>Plongée & snorkeling</li>
                        <li>Faune</li>
                    </ol>
                </div>            

                <div>
                    <img src="{{ asset('../assets/images/florespage/indomap-floreskomodo.png') }}" alt="Carte de l'Indonésie localisant l'île de Flores et l'île de Komodo">
                </div>
            </section>
    
            {# section 4 - activities #}
            <div class="activities-container">

                <h3>Les activités à Flores - Nos recommandations :</h3>
                <p>Les principales activités à faire à Flores en fonction de vos goûts et des différentes régions, ainsi que notre sélection des meilleures visites et expériences.</p>

                <div class="tab-wrap">

                    <!-- active tab on page load gets checked attribute -->
                    <input type="radio" id="tab1" name="tabGroup1" class="tab" checked>
                    <label for="tab1">KOMODO & LABUAN BAJO</label>

                    <input type="radio" id="tab2" name="tabGroup1" class="tab">
                    <label for="tab2">LA RÉGION D’ENDE</label>

                    <input type="radio" id="tab3" name="tabGroup1" class="tab">
                    <label for="tab3">LE CENTRE DE L’ÎLE</label>

                    <input type="radio" id="tab4" name="tabGroup1" class="tab">
                    <label for="tab4">LA RÉGION DE MAUMERE</label>

                    <div class="tab__content tab1">
                        <div class="text-map-flexbox">
                            <div class="dropdown-list">

                                <div class="dropdown">
                                    <h4>• Le Parc National de Komodo</h4>
                                    <div class="icon">
                                        <span class="btn">
                                            <i class="fas fa-plus"></i>
                                        </span>
                                    </div>
                                </div>
                                <div class="a textcontent">
                                    <P>Croisières en bateaux traditionnels dans le PARC de KOMODO ; observation des varans ; plongée et snorkeling ; baignade à BIDARI ; découverte de KALONG, l’île des chauves-souris ; Snorkeling à KELOR ; séjour sur une ILE DÉSERTE du Parc National</P>
                                </div>

                                <div class="dropdown">
                                    <h4>• Labuan bajo</h4>
                                    <div class="icon">
                                        <span class="btn">
                                            <i class="fas fa-plus"></i>
                                        </span>
                                    </div>
                                </div>
                                <div class="b textcontent">
                                    <P>Le petit bourg agréable de Labuan Bajo, ses restaurants et son marché aux poissons ; balade À VÉLO dans la campagne environnante ; visite de la GROTTE de Batu Cermin</P>
                                </div>
                            </div>
                            
                            <div class="map-responsive">
                                <iframe src="https://www.google.com/maps/d/embed?mid=14Y7RP6XF8YD4Ax4TpKfektB3tBx_ZQ_b" width="480" height="350"></iframe>
                            </div>                                            
                        </div>
                    </div>

                    <div class="tab__content tab2">
                        <div class="text-map-flexbox">
                            <div class="dropdown-list">

                                <div class="dropdown">                   
                                    <h4> • Ende</h4>
                                    <div class="icon">
                                        <span class="btn">
                                            <i class="fas fa-plus"></i>
                                        </span>
                                    </div>
                                </div>
                                <div class="a textcontent">
                                    <P>La ville d’ENDE au centre de l’île, son marché et le musée Soekarno ; les ATELIERS de tissage à Wolotopo et Ndona ; les PLAGES de galets bleus à Penggajawa</P>
                                </div>
                                
                                <div class="dropdown">
                                    <h4>• Moni</h4>
                                    <div class="icon">
                                        <span class="btn">
                                            <i class="fas fa-plus"></i>
                                        </span>
                                    </div>
                                </div>
                                <div class="b textcontent">                            
                                    <P>Le village de MONI sur les pentes du MONT MERAPI et ses cascades ; le VOLCAN Kelimutu et ses 3 cratères aux LACS colorés ; les RIZIÈRES en terrasses de Detusoko ; le village traditionnel de Wologai</P>
                                </div>
                            </div>

                            <div class="map-responsive">
                                <iframe src="https://www.google.com/maps/d/embed?mid=1X86c1AbwzmHG-csx--JveNuMgQcc1nlu" width="480" height="350"></iframe>
                            </div>
                        </div>
                    </div>

                    <div class="tab__content tab3">
                        <div class="text-map-flexbox">
                            <div class="dropdown-list">
                                <div class="dropdown">                    
                                    <h4>• Bajawa</h4>
                                    <div class="icon">
                                        <span class="btn">
                                            <i class="fas fa-plus"></i>
                                        </span>
                                    </div>
                                </div>
                                <div class="a textcontent">
                                    <p>Les SOURCES CHAUDES de Megerunda ; le village de BAJAWA ; randonnée au VOLCAN INERIE ; nuit CHEZ L’HABITANT aux villages de Gurusina ; les villages de la culture NGADA de LUBA et BENA et les sculpteurs de BOIS ; la DISTILLATION d’alcool de riz ARAK à Aimere</p>
                                </div>
                                
                                <div class="dropdown">
                                    <h4>• Ruteng</h4>
                                    <div class="icon">
                                        <span class="btn">
                                            <i class="fas fa-plus"></i>
                                        </span>
                                    </div>
                                </div>
                                <div class="b textcontent">
                                    <p>Séjour nature et eco-responsable à Ruteng : VÉLO, RANDONNÉE, YOGA, … ; visite de Ruteng Pu’u, VILLAGE TRADITIONNEL et ses authentiques maisons anciennes de style MANGGAR ; le LAC de Ranamese ; les RIZIÈRES en forme de toile d’araignée à CANCAR</p>
                                </div>
                                
                                <div class="dropdown">
                                    <h4>• Riung</h4>
                                    <div class="icon">
                                        <span class="btn">
                                            <i class="fas fa-plus"></i>
                                        </span>
                                    </div>
                                </div>
                                <div class="c textcontent">
                                    <p>Les VILLAGES de Wangka et de Buntal ; SNORKELLING dans le Parc Marin de Riung et ses 17 îles ; nuit en tente sur l’une des îles ; balade en KAYAK</p>
                                </div>
                            </div>

                            <div class="map-responsive">
                                <iframe src="https://www.google.com/maps/d/embed?mid=1WGRAc3GfWGfFKcWkl7pBXIW-sAIbhGL-" width="480" height="350"></iframe>
                            </div>
                        </div>   
                    </div>

                    <div class="tab__content tab4">
                        <div class="text-map-flexbox">
                            <div class="dropdown-list">
                                <div class="dropdown">                    
                                <h4>• Maumere</h4>
                                    <div class="icon">
                                        <span class="btn">
                                            <i class="fas fa-plus"></i>
                                        </span>
                                    </div>
                                </div>
                                <div class="a textcontent">
                                    <p>La petite VILLE côtière de Maumere et ses PLAGES sauvages ; le village de pêcheurs WURING avec vue sur le volcan Egon ; les villages des peuples BUGIS et BAJO et leurs maisons traditionnelles sur PILOTIS ; le MUSÉE Ledalero ; la grande ÉGLISE jésuite à SIKKA ; la belle PLAGE de sable blanc de Paga</p>
                                </div>                        
                            </div>

                            <div class="map-responsive">
                                <iframe src="https://www.google.com/maps/d/embed?mid=1_yd4avM6ef9f_e01RjVbJSUQOi9okaD5" width="480" height="350"></iframe>
                            </div>
                        </div>   
                    </div>
                </div>
            </div>
            

            {# section 5 - presentation #}
            <section class="presentation">

                <h3>Découvrez l’île de Flores</h3>

                <div class="main-paragraph-wrapper">
                    <p><strong>La magie</strong> commence à bord du vol qui vous emmène de Bali à Flores car si le temps est clair, vous pourrez distinguer nettement tous les volcans de Bali et des petites îles de la Sonde…</p>
                    <p>A votre arrivée à Labuan Bajo, embarquez à bord d’un bateau traditionnel « Bugis » à la découverte du <strong>parc national de Komodo</strong>. Les nombreuses îles, l’eau turquoise et les plages de sable blanc incitent à la baignade et au snorkeling au gré des spots rencontrés : Les fonds marins du petit archipel offrent de superbes coraux et des poissons d’une étonnante diversité. Ne manquez pas Manta Point où vous pourrez admirer les raies du même nom, et Pink beach, la sublime plage de sable rose.</p>
                    <p>Au cours de votre mini croisière, vous irez bien entendu à la rencontre des célèbres <strong>varans de Komodo</strong> que l’on ne trouve que dans cette région du monde ! vous pourrez les apercevoir dans leur habitat naturel, lors d’une randonnée sur l’une des îles du parc national.</p>
                    <p>En fin de journée, votre bateau mouillera près de l’île de Kalong où vous assisterez à l’envol de plusieurs milliers de chauve- souris au coucher du soleil, un spectacle magique et mémorable…</p>
                    <p>Plus à l’Est de l’île, le <strong>port de Riung</strong> est la porte d’entrée vers le “Parc maritime des 17 îles”, qui sont autant de sites nationaux protégés, aux magnifiques plages de sable blond, et où vivent en paix aigles, chauve-souris, singes, lézards…</p>
                    <p>Après les joies de la mer, il est temps de prendre la route pour arpenter <strong>Flores d’Ouest en Est</strong> : La découverte de l’intérieur de l’île est une expérience authentique avec de belles rencontres et des paysages vierges. Il faut prendre son temps et renoncer au confort car la route est longue et les étapes parfois rudimentaires, mais le voyage en vaut grandement la peine !</p>
                    <p>N’hésitez pas à dormir <strong>chez l’habitant</strong>, dans des villages traditionnels où vous serez accueillis chaleureusement et partagerez avec les villageois leur mode de vie ancestral.
                    Le village de Waerebo a conservé son architecture traditionnelle et se situe à 1 100 mètres d’altitude, au milieu des montagnes ; vous y accéderez par une randonnée à pied de 2 heures, le village n’étant relié à aucune route.</p>
                    <p>La visite du village de Bena, au pied du Mont Inerie est une belle occasion de mieux connaître la culture clanique Ngada avec ses sculptures de bois et ses rites ancestraux. Vous pourrez y acheter des ikats (tissages traditionnels) d'une grande qualité.</p>
                    <p>Une étape au village de Moni est incontournable : c’est le point de départ pour l’ascension du <strong>volcan Kelimutu</strong>, célèbre pour ses lacs aux 3 couleurs. Après seulement 30 minutes de marche douce, un magnifique panorama à 360° s’offre à vous sur les 3 lacs dont les couleurs varient selon la saison et la composition des gaz volcaniques : noir, turquoise, rouge…. Les 3 lacs sont supposés abriter l’âme des défunts…Flores est une terre de légendes et de superstitions. On peut également croiser dans la forêt un oiseau très créatif qui peut produire jusqu’à 16 chants !</p>
                    <p>Après votre périple, une étape farniente s’impose sur les <strong>plages sauvages</strong> de Maumere, avant de repartir de Flores, cette île attachante que vous quitterez à regret…</p>
                </div>
            
            </section>

            {# section 6 - tours #}

            <section class="tours-section">
                
                <h3>Nos circuits</h3>

                <div class="tours-cards">
                {# To display several tours here:  #}
                    {# tour nº11 #}
                    {% for tour in tours %} 
                        {% if tour.id == 11 %}
                            <figure class="image-block">
                                <img src="{{ asset('../assets/images/tours/11.jpg') }}" alt="flores and komodo tour" />
                                <figcaption>
                                    <h4>{{ tour.title }}</h4>
                                    <p>{{ tour.description }}</p>
                                    <p>À partir de {{ tour.price }} € par personne</p>
                                    <a href="{{ path('show_tour', {'id': tour.id})}}#tour"><button> 
                                        Découvrez
                                    </button></a>
                                </figcaption>
                            </figure>
                        {% endif %}
                    {% endfor %}

                    {# tour nº1 #}
                    {% for tour in tours %} 
                        {% if tour.id == 1 %}
                            <figure class="image-block">
                                {# <h3>{{ tour.islands }}</h3> #}
                                <img src="{{ asset('../assets/images/tours/1.jpg') }}" alt="bali great tour" />
                                <figcaption>
                                    <h4>{{ tour.title }}</h4>
                                    <p>{{ tour.description }}</p>
                                    <p>À partir de {{ tour.price }} € par personne</p>
                                    <a href="{{ path('show_tour', {'id': tour.id})}}#tour"><button> 
                                        Découvrez
                                    </button></a>
                                </figcaption>
                            </figure>
                        {% endif %}
                    {% endfor %}

                    {# tour nº9 #}
                    {% for tour in tours %} 
                        {% if tour.id == 9 %}
                            <figure class="image-block">
                                <img src="{{ asset('../assets/images/tours/' ~ tour.photo()) }}" alt="photo du circuit"/>
                                <figcaption>
                                    <h4>{{ tour.title }}</h4>
                                    <p>{{ tour.description }}</p>
                                    <p>À partir de {{ tour.price }} € par personne</p>
                                    <a href="{{ path('show_tour', {'id': tour.id})}}#tour"><button> 
                                        Découvrez
                                    </button></a>
                                </figcaption>
                            </figure>
                        {% endif %}
                    {% endfor %}
                </div>
            </section>

            <div class="button-contact">
                <a href="{{ path('contact')}}#contact">
                    <button>Contactez-nous pour des circuits sur-mesure</button>
                </a>
            </div>        
        </div>
    </div>

{% block javascripts %}
     {{ parent() }}
     {{ encore_entry_script_tags('island') }}
{% endblock %}

{% endblock %}
