{% extends 'base.html.twig' %}

{% block title %} Sulawesi {% endblock %}

{% block body %}

    <div id="island" class="wrapper">
    
        {# section 1 - introduction #}
        <section class="introduction">
            <h2 id="sulawesi-title">Sulawesi</h2>
            <h4>L'île aux 1000 visages</h4>
            <div class="introduction-paragraph">
                <div class=''>
                    <p>L’île en forme d’orchidée n’en finit pas d’étonner le visiteur, encore peu visitée, elle a pourtant de nombreux trésors à nous faire partager.</p>
                    <p>Au sud, c’est un riche patrimoine culturel que l’on vient découvrir : celle du peuple Toraja.</p>
                    <p>Plus au Nord, les amateurs de farniente et les plongeurs viendront quant à eux profiter des petits paradis comme l’archipel Togian ou le parc national marin de Wakatobi.</p>
                </div>
                <div>
                    <img src="{{ asset('../assets/images/sulawesipage/fish.png') }}" alt="Poisson exotique">
                </div>
            </div>
        </section>


        {# section 2 - photo carousel #}        
        <section id="photos-slider">
            <div id="image-slider" class="splide">
                <div class="splide__track">
                    <ul class="splide__list">
                        <li class="splide__slide">
                            <img src="{{ asset('../assets/images/sulawesipage/sulawesi6.jpg') }}">
                        </li>
                        <li class="splide__slide">
                            <img src="{{ asset('../assets/images/sulawesipage/sulawesi1.jpg') }}">
                        </li>
                        <li class="splide__slide">
                            <img src="{{ asset('../assets/images/sulawesipage/sea3.jpg') }}">
                        </li>
                        <li class="splide__slide">
                            <img src="{{ asset('../assets/images/sulawesipage/ricefield.jpg') }}">
                        </li>
                        <li class="splide__slide">
                            <img src="{{ asset('../assets/images/sulawesipage/man.jpg') }}">
                        </li>
                        <li class="splide__slide">
                            <img src="{{ asset('../assets/images/sulawesipage/sulawesi3.jpg') }}">
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        
        {# section 3 - top activites & map #}    
        <section class="topandmap">
            <div class="top-activities">
                <h4>Top des activités à Sulawesi</h4>

                <ol class="gradient-list">
                    <li>Coutumes & vie traditionnelle</li>
                    <li>Randonnée</li>
                    <li>Plongée & snorkeling</li>
                </ol>
            </div>            

            <div>
                <img src="{{ asset('../assets/images/sulawesipage/indomap-sulawesi.png') }}" alt="Carte indonésie île de Sulawesi">
            </div>
        </section>
  
        {# section 4 - activities #}
        <div class="activities-container">

            <h3>Les activités à Sulawesi - Nos recommandations :</h3>
            <p>Les principales activités à faire à Sulawesi en fonction de vos goûts et des différentes régions, ainsi que notre sélection des meilleures visites et expériences.</p>

            <div class="tab-wrap">

                <!-- active tab on page load gets checked attribute -->
                <input type="radio" id="tab1" name="tabGroup1" class="tab" checked>
                <label for="tab1">LE PAYS TORAJA</label>

                <input type="radio" id="tab2" name="tabGroup1" class="tab">
                <label for="tab2">LE SUD</label>

                <input type="radio" id="tab3" name="tabGroup1" class="tab">
                <label for="tab3">MANADO</label>

                <input type="radio" id="tab4" name="tabGroup1" class="tab">
                <label for="tab4">LES ÎLES TOGIAN</label>

                <div class="tab__content tab1">
                    <div class="text-map-flexbox">
                        <div class="dropdown-list">

                            <div class="dropdown">
                                <h4>• Rentepao</h4>
                                <div class="icon">
                                    <span class="btn">
                                        <i class="fas fa-plus"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="a textcontent">
                                <p>L’agréable petite ville de RENTEPAO et son marché aux bestiaux, le plus grand de la région</p>
                            </div>

                            <div class="dropdown">
                                <h4>• Les villages</h4>
                                <div class="icon">
                                    <span class="btn">
                                        <i class="fas fa-plus"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="b textcontent">
                                <p>Les villages traditionnels de KETE KESU, PALAWA, etc. et leurs MAISONS en forme de bateau ; dîner et nuit chez l’HABITANT, dans un village traditionnel accessible à pied</p>
                            </div>
                            
                            <div class="dropdown">
                                <h4>• Les cérémonies</h4>
                                <div class="icon">
                                    <span class="btn">
                                        <i class="fas fa-plus"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="c textcontent">
                                <p>Les CÉRÉMONIES et les rites funéraires grandioses ; les falaises de LEMO ; les GROTTES funéraires de Londa ; les TOMBES ROYAES de Suaya</p>
                            </div>

                            <div class="dropdown">
                                <h4>• Batutumonga</h4>
                                <div class="icon">
                                    <span class="btn">
                                        <i class="fas fa-plus"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="d textcontent">
                                <p>RANDONNÉE à travers une forêt de bambous et des rizières jusqu’au VILLAGE de MONTAGNE de Batutumonga ; nuit dans une MAISON TRADITIONNELLE ; visite des TOMBEAUX CREUSÉS dans la roche au village de Lo'ko Mata</p>
                            </div>
                        </div>
                        
                        <div class="map-responsive">
                            <iframe src="https://www.google.com/maps/d/embed?mid=14VR-q3L9OFjS7fbxOYhdsQXEzdv6RqjZ" width="480" height="350"></iframe>
                        </div>                                            
                    </div>
                </div>

                <div class="tab__content tab2">
                    <div class="text-map-flexbox">
                        <div class="dropdown-list">

                            <div class="dropdown">                   
                                <h4> • Makassar</h4>
                                <div class="icon">
                                    <span class="btn">
                                        <i class="fas fa-plus"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="a textcontent">
                                <p>Visite de la VILLE la plus importante de l’île, du fort de Rotterdam, la croisette pour boire un verre, la rue des bijoutiers, etc.</p>
                            </div>
                            
                            <div class="dropdown">
                                <h4>• Sengkang</h4>
                                <div class="icon">
                                    <span class="btn">
                                        <i class="fas fa-plus"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="b textcontent">                            
                                <p>Le village de SENGKANG, au bord du LAC TEMPE ; promenade en BATEAU sur le lac ; visite des MAISONS FLOTANTES, découverte de la vie des habitants du lac ; observation des nombreux OISEAUX : aigrettes, hérons, grues…</p>
                            </div>

                            <div class="dropdown">
                                <h4>• Tanaberu & Bissapu</h4>
                                <div class="icon">
                                        <span class="btn">
                                            <i class="fas fa-plus"></i>
                                        </span>
                                    </div>
                            </div>
                            <div class="c textcontent">
                                <p>Visite des CHANTIERS NAVALS à Tenaberu, ils fournissent les meilleurs bateaux du pays et les techniques de construction sont ancestrales ; découverte des CHUTES d’eau de Bissapu, à 500 mètres de hauteur et entourées de forêt</p>
                            </div>
                            
                            <div class="dropdown">
                                <h4> • Bira</h4>
                                <div class="icon">
                                    <span class="btn">
                                        <i class="fas fa-plus"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="d textcontent">
                                <p>Séjour sur les belles PLAGES de sable blanc de Bira, encore sauvages ; SNORKELING sur l’île voisine de Liukang</p>
                            </div>

                            <div class="dropdown">
                                <h4> • Jeneponto</h4>
                                <div class="icon">
                                    <span class="btn">
                                        <i class="fas fa-plus"></i>
                                    </span>
                                </div>
                            </div>                            
                            <div class="e textcontent">
                                <p>KITE SURF sur les spots du sud de l’île</p>
                            </div>                                                        
                        </div>

                        <div class="map-responsive">
                            <iframe src="https://www.google.com/maps/d/embed?mid=1bwnvHxiKxmS8VykSlnwIZaCMsTkjFtX7" width="480" height="350"></iframe>
                        </div>
                    </div>
                </div>

                <div class="tab__content tab3">
                    <div class="text-map-flexbox">
                        <div class="dropdown-list">
                            <div class="dropdown">                    
                                <h4>• Pays Minahasa</h4>
                                <div class="icon">
                                    <span class="btn">
                                        <i class="fas fa-plus"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="a textcontent">
                                <p>Ascension du VOLCAN MAHAWU et son lac d’acide, panorama sur le VOLCAN LOKON ; visite d’un élevage de poissons « ikan mas » ; DÉJEUNER dans un restaurant traditionnel au bord du lac ; séjour à TOMOHON, petite ville de montagne ; visite des TOMBEAUX ANIMISTES de Warugas</p>
                            </div>
                            
                            <div class="dropdown">
                                <h4>• Tangkoko</h4>
                                <div class="icon">
                                    <span class="btn">
                                        <i class="fas fa-plus"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="b textcontent">
                                <p>Découverte du Parc National de TANGKOKO et ses espèces endémiques : le macaque noir, le couscous, espèce de marsupial et le fameux tarsier, singe le plus petit du monde ; randonnée dans la JUNGLE dense pour observer le calao, grand oiseau multicolore de la famille des toucans</p>
                            </div>
                            
                            <div class="dropdown">
                                <h4>• Bunaken</h4>
                                <div class="icon">
                                    <span class="btn">
                                        <i class="fas fa-plus"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="c textcontent">
                                <p>Séjour farniente sur les ILES PARADISIAQUES de Bunaken, idéales pour le snorkeling et la PLONGÉE et les amateurs de belles PLAGES</p>
                            </div>
                        </div>

                        <div class="map-responsive">
                            <iframe src="https://www.google.com/maps/d/embed?mid=1VR5W7myghgWwpX6qIT-q8VEWgyxuslA8" width="480" height="350"></iframe>
                        </div>
                    </div>   
                </div>

                <div class="tab__content tab4">
                    <div class="text-map-flexbox">
                        <div class="dropdown-list">
                            <div class="dropdown">                    
                            <h4>• Îles Togian</h4>
                                <div class="icon">
                                    <span class="btn">
                                        <i class="fas fa-plus"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="a textcontent">
                                <p>Paradis des PLONGEURS, les îles offrent quelques-uns de meilleurs spots de plongée du pays et des décors magnifiques</p>
                            </div>
                        </div>

                        <div class="map-responsive">
                            <iframe src="https://www.google.com/maps/d/embed?mid=1ltwmeakKM9ztKP1bmGBX2l_N5WY7JN1A" width="480" height="350"></iframe>
                        </div>
                    </div>   
                </div>
            </div>
        </div>
        

        {# section 5 - presentation #}
        <section class="presentation">

            <h3>Découvrez l’île de Sulawesi</h3>

            <div class="main-paragraph-wrapper">
                <p>Comme elle est peu visitée, les trajets peuvent être long et certaines étapes difficiles à rejoindre mais c’est ce qui façonne le charme de cette île.</p>
                <p>L’ethnie Toraja a conservé ses traditions ancestrales et est connue pour ses cérémonies spectaculaires qui ont lieu régulièrement et durent plusieurs jours. Les visiteurs sont toujours les bienvenus !</p>
                <p>On découvre également les maisons traditionnelles aux toit pointus, leur sites funéraires taillés dans les falaises rocheuses, leur travail du bois et leurs sculptures colorées, leur culte au buffle d’eau, seul animal capable de transporter l’âme des défunts sur le chemin de leurs ancêtres.</p>
                <p>Voyager au pays Toraja c’est : randonner dans la montagne, rencontrer avec les Torajas et déjeuner dans leur village, se promener en cyclo-pousse, participer aux cérémonies, etc.</p>
                <p>Ensuite, la plage sauvage de Bira vous invite au repos pour quelques nuit ; et Makassar, la capitale très dynamique, vous propose une balade à travers ses quartiers pour savourer profiter de l’ambiance urbaine locale.</p>
                <p>A ne pas rater non plus : Manado et ses îles, elles sont l’un des plus beaux spots de plongée au monde.</p>
                <p>Et depuis Manadao, départ pour l’arrière-pays Minahasa : découverte des 3 volcans en activité : lokon, Mahawu, Soputan, du parc national de Tangkoko et des superbes plages de Pulisan.</p>
            </div>
        
        </section>

        {# section 6 - tours #}

        <section class="tours-section">
            
            <h3>Nos circuits</h3>

            <div class="tours-cards">
            {# To display several tours here:  #}
                {# tour nº4 #}
                {% for tour in tours %} 
                    {% if tour.id == 4 %}
                        <figure class="image-block">
                            {# <h3>{{ tour.islands }}</h3> #}
                            <img src="{{ asset('../assets/images/tours/4.jpg') }}" alt="" />
                            <figcaption>
                                <h4>{{ tour.title }}</h4>
                                <p>{{ tour.description }}</p>
                                <p>À partir de {{ tour.price }} € par personne</p>
                                <a href="{{ path('show_tour', {'id': tour.id})}}#tour"><button> 
									Découvrez
								</button></a>
                            </figcaption>
                        </figure>
                    {% endif %}
                {% endfor %}

                {# tour nº3 #}
                {% for tour in tours %} 
                    {% if tour.id == 3 %}
                        <figure class="image-block">
                            {# <h3>{{ tour.islands }}</h3> #}
                            <img src="{{ asset('../assets/images/tours/3.jpg') }}" alt="" />
                            <figcaption>
                                <h4>{{ tour.title }}</h4>
                                <p>{{ tour.description }}</p>
                                <p>À partir de {{ tour.price }} € par personne</p>
                                <a href="{{ path('show_tour', {'id': tour.id})}}#tour"><button> 
									Découvrez
								</button></a>
                            </figcaption>
                        </figure>
                    {% endif %}
                {% endfor %}

                {# tour nº5 #}
                {% for tour in tours %} 
                    {% if tour.id == 5 %}
                        <figure class="image-block">
                            {# <h3>{{ tour.islands }}</h3> #}
                            <img src="{{ asset('../assets/images/tours/5.jpg') }}" alt="" />
                            <figcaption>
                                <h4>{{ tour.title }}</h4>
                                <p>{{ tour.description }}</p>
                                <p>À partir de {{ tour.price }} € par personne</p>
                                <a href="{{ path('show_tour', {'id': tour.id})}}#tour"><button> 
									Découvrez
								</button></a>
                            </figcaption>
                        </figure>
                    {% endif %}
                {% endfor %}
            </div>
        </section>

        <div class="button-contact">
            <a href="{{ path('contact')}}#contact">
                <button>Contactez-nous pour des circuits sur-mesure</button>
            </a>
        </div>        
    
    </div>

{% block javascripts %}
     {{ parent() }}
     {{ encore_entry_script_tags('island') }}
{% endblock %}

{% endblock %}
