{% extends 'base.html.twig' %}

{% block title %}Voyage à Sumatra{% endblock %}

{% block meta_description %}Voyage à Sumatra : présentation de l’île, top des activités à faire à Sumatra, nos conseils, nos circuits de voyage à Sumatra.{% endblock %}

{% block body %}

    <div id="island">
        <div class="wrapper">
            {# section 1 - introduction #}
            <section class="introduction">
                <h3 id="sumatra-title">Voyage à Sumatra</h3>
                <h4>Entre jungle et tribus</h4>
                <div class="introduction-paragraph">
                    <div class=''>
                        <p>Sumatra est une immense île, belle et sauvage.</p>
                        <p>Très peu connue du tourisme, elle attire de plus en plus les curieux à la recherche de jungle et d’aventure.</p>
                        <p>C’est justement cette jungle épaisse que l’on arpente pour y observer une faune et une flore extrêmement diverses : des milliers d’espèces d’oiseaux, des mammifères sauvages, etc. L’une des expériences les plus impressionnantes est très certainement l’observation des orangs-outangs dans leur milieu naturel.</p>
                        <p>Et à travers les villages, c’est le peuple Batak que l’on rencontre, ses maisons sur pilotis et ses croyances ancestrales que l’on découvre.</p>
                    </div>
                    <div>
                        <img src="{{ asset('build/images/sumatrapage/icon-palmtrees.png') }}" alt="Dessin d'élephant">
                    </div>
                </div>
            </section>
        </div>

        {# section 2 - photo carousel #}        
        <section id="photos-slider">
            <div id="image-slider" class="splide">
                <div class="splide__track">
                    <ul class="splide__list">
                        <li class="splide__slide">
                            <img src="{{ asset('build/images/sumatrapage/sumatra1.jpg') }}" alt="Lac Toba">
                        </li>
                        <li class="splide__slide">
                            <img src="{{ asset('build/images/sumatrapage/sumatra2.jpg') }}" alt="Plage à Sumatra">
                        </li>
                        <li class="splide__slide">
                            <img src="{{ asset('build/images/sumatrapage/sumatra3.jpg') }}" alt="Eléphant">
                        </li>
                        <li class="splide__slide">
                            <img src="{{ asset('build/images/sumatrapage/sumatra4.jpg') }}" alt="Enfant à Sumatra">
                        </li>
                        <li class="splide__slide">
                            <img src="{{ asset('build/images/sumatrapage/sumatra5.jpg') }}" alt="Orang-outang à Sumatra">
                        </li>
                        <li class="splide__slide">
                            <img src="{{ asset('build/images/sumatrapage/sumatra6.jpg') }}" alt="Un palace à Sumatra">
                        </li>
                    </ul>
                </div>
            </div>
        </section>

        <div class="wrapper"> 
            {# section 3 - top activites & map #}    
            <section class="topandmap">
                <div class="top-activities">
                    <h4>Top des activités à Sumatra</h4>

                    <ol class="gradient-list">
                        <li>Randonnée</li>
                        <li>Faune</li>
                        <li>Jungle</li>
                    </ol>
                </div>            

                <div>
                    <img src="{{ asset('build/images/sumatrapage/indomap-sumatra.png') }}" alt="Carte de l'Indonésie localisant l'île de Sumatra">
                </div>
            </section>
    
            {# section 4 - activities #}
            <section class="activities-section">
                <h3>Les activités à Sumatra</h3>
				<h4>Nos recommandations pour votre voyage</h4>
                <p>Les principales activités à faire à Sumatra en fonction de vos goûts et des différentes régions, ainsi que notre sélection des meilleures visites et expériences.</p>
                
                <div class="activities-container">
                    <div class="tab-wrap">

                        <!-- active tab on page load gets checked attribute -->
                        <input type="radio" id="tab1" name="tabGroup1" class="tab" checked>
                        <label for="tab1">LE NORD</label>

                        <input type="radio" id="tab2" name="tabGroup1" class="tab">
                        <label for="tab2">LES ÎLES</label>

                        <div class="tab__content tab1">
                            <div class="text-map-flexbox">
                                <div class="dropdown-list">

                                    <div class="dropdown">
                                        <h4>• Parc National de Leuser</h4>
                                        <div class="icon">
                                            <span class="btn">
                                                <i class="fas fa-plus"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="a textcontent">
                                        <p>Randonnée dans la JUNGLE à Tangkahan ; observation du bain des ÉLÉPHANTS dans la rivière ; à Bukit Lawang, observation de la flore et la faune locale dont les ORANG-OUTANGS ; les Thomas Leafs, les macaques à longue queue, les gibbons noirs ; descente de la rivière en TUBBING ; BIVOUAC en bord de rivière, au cœur la forêt tropicale</p>
                                    </div>

                                    <div class="dropdown">
                                        <h4>• Au sud de Medan</h4>
                                        <div class="icon">
                                            <span class="btn">
                                                <i class="fas fa-plus"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="b textcontent">
                                        <p>Découverte de la RIVIÈRE Sembahe et des CASCADES de Sibolangit ; visite de BRASTAGI et son marché aux fruits ; panorama sur les fameux VOLCANS Sinabung et Sibayak ; ascension du VOLCAN Sibayak jusqu’au sommet ; rencontres au VILLAGE TRADITIONNEL BATAK de Dokan ; arrêt aux CHUTES D’EAU de Sipiso-piso ; visite d’une LONG HOUSE Rumah Bolon</p>
                                    </div>
                                    
                                    <div class="dropdown">
                                        <h4>• Lac Toba</h4>
                                        <div class="icon">
                                            <span class="btn">
                                                <i class="fas fa-plus"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="c textcontent">
                                        <p>Séjour sur l’île de SAMOSIR sur le LAC TOBA, le plus grand lac volcanique du monde ; découverte de l’île et de la vie de ses habitants ; visite d’Ambarita où siégeait les rois Sialagan ; Simanindo, son MUSÉE et ses spectacles de DANSES traditionnelles ; Tomok, les SITES FUNÉRAIRES des rois Sidabutar; le village de Simarjarunpung et sa magnifique vue sur le lac</p>
                                    </div>

                                    <div class="dropdown">
                                        <h4>• Medan</h4>
                                        <div class="icon">
                                            <span class="btn">
                                                <i class="fas fa-plus"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="d textcontent">
                                        <p>Visite de la VILLE de Medan, le PALAIS du SULTAN, la grande MOSQUÉE, le TEMPLE chinois, etc.</p>
                                    </div>
                                </div>
                                
                                <div class="map-responsive">
                                    <iframe src="https://www.google.com/maps/d/embed?mid=1VQgV5nz3NeqiXef7iQ_cA5ePMk5gBXpM" width="480" height="350"></iframe>
                                </div>                                            
                            </div>
                        </div>

                        <div class="tab__content tab2">
                            <div class="text-map-flexbox">
                                <div class="dropdown-list">

                                    <div class="dropdown">                   
                                        <h4> • Cubadak</h4>
                                        <div class="icon">
                                            <span class="btn">
                                                <i class="fas fa-plus"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="a textcontent">
                                        <p>Petit paradis pour les PLONGEURS et les amateurs de SNORKELING au bout du monde. L’île est parfaite pour la détente.</p>
                                    </div>
                                    
                                    <div class="dropdown">
                                        <h4>• Mentawai</h4>
                                        <div class="icon">
                                            <span class="btn">
                                                <i class="fas fa-plus"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="b textcontent">                            
                                        <p>Découverte du peuple MENTAWAI qui vit dans un petit archipel de 4 îles, en harmonie avec la nature. Rencontre et découverte de leur mode de vie : chasse, cuisine, médecine traditionnelle. Nuit chez l’habitant dans un village traditionnel</p>
                                    </div>                                                 
                                </div>

                                <div class="map-responsive">
                                    <iframe src="https://www.google.com/maps/d/embed?mid=1qtII7okpBkctbdCa6TbNQnGMRkxgLIxq" width="480" height="350"></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            {# section 5 - presentation #}
            <section class="presentation">

                <h3>Découvrez l’île de Sumatra</h3>

                <div class="main-paragraph-wrapper">
                    <p>Située à l’extrême ouest de l’arc indonésien, séparée de l’île de Java par le détroit de la Sonde, la troisième plus grande île d’Indonésie -elle s’étend d’ouest en Est sur près de 1800 km ! - incarne à elle seule un monde de biodiversité et un rêve de nature intacte !</p>
                    <p>Volcans actifs, forêts exubérantes, plages vierges, riche faune endémique, Sumatra est tout cela et beaucoup plus encore...</p>
                    <p>Peuplée de près de 50 millions d’habitants, l’île abrite une mosaïque de groupes ethniques aux cultures séculaires, et l’on y parle une cinquantaine de dialectes.</p>
                    <p><strong>Vous aimez la flore… ?</strong> Les aires protégées comptent 10000 espèces de plantes, dont nombre d’orchidées, des plantes carnivores, ou encore le pin de Sumatra, la plus grande fleur du monde…</p>
                    <p><strong>… la faune ?</strong> A Sumatra vivent tigres, panthères, éléphants, rhinocéros et grands singes, des centaines d’espèces d’oiseaux, quelques reptiles, et si vous sortez la nuit, vous croiserez peut-être un joli lapin de Sumatra, reconnaissable à son pelage rayé !</p>
                    <p><strong>… les volcans ?</strong> Pour citer les plus connus, au nord le Sinabung, le Sibayak au nord du Lac Toba, ou le Kerinci en pays Minang (3805 m !) vous attendent pour des treks inoubliables !</p>
                    <p><strong>… les parcs nationaux ?</strong> L’île en compte une dizaine, dont le Parc national Leuser, magnifique réserve de 8000 m² couverte de jungle, paradis du treking et royaume de la faune locale, non loin de Bukit Lawang, point de départ pour l’observation des derniers orang-outans sauvages de la planète.</p>
                    <p><strong>… les lacs ? </strong> Parmi les nombreux lacs que compte Sumatra, on trouve, au sud du parc Leuser, en longeant la côte et quelques belles plages, le lac Toba, immense lac de cratère, chef d’œuvre naturel entourant une île fertile, Samosir… Un goût de bout du monde.</p>
                    <p>Cette liste n’est bien sûr qu’un avant-goût de la richesse et des possibilités d’exploration que propose l’île, mais si vous répondez oui à la plupart de ces questions, Sumatra est faite pour vous !</p>
            </section>

            {# section 6 - tours #}

            <section class="tours-section">
                
                <h3>Nos circuits</h3>

                <div class="tours-cards">
                {# To display several tours here:  #}
                    {# tour nº8 #}
                    {% for tour in tours %} 
                        {% if tour.id == 8 %}
                            <figure class="image-block">
                                <img src="{{ asset('build/images/tours/' ~ tour.photo()) }}" alt="photo de voyage en Indonésie"/>
                                <figcaption>
                                    <h4>{{ tour.title }}</h4>
                                    <p>{{ tour.description }}</p>
                                    <p>À partir de {{ tour.price }} € par personne</p>
                                    <form style="display: inline" action="{{ path('show_tour', {'id': tour.id})}}#tour" method="get"><button> 
                                        Découvrez
                                    </button></form>
                                </figcaption>
                            </figure>
                        {% endif %}
                    {% endfor %}

                    {# tour nº3 #}
                    {% for tour in tours %} 
                        {% if tour.id == 3 %}
                            <figure class="image-block">
                                <img src="{{ asset('build/images/tours/' ~ tour.photo()) }}" alt="photo de voyage en Indonésie"/>
                                <figcaption>
                                    <h4>{{ tour.title }}</h4>
                                    <p>{{ tour.description }}</p>
                                    <p>À partir de {{ tour.price }} € par personne</p>
                                    <form style="display: inline" action="{{ path('show_tour', {'id': tour.id})}}#tour" method="get"><button> 
                                        Découvrez
                                    </button></form>
                                </figcaption>
                            </figure>
                        {% endif %}
                    {% endfor %}

                    {# tour nº4 #}
                    {% for tour in tours %} 
                        {% if tour.id == 4 %}
                            <figure class="image-block">
                                <img src="{{ asset('build/images/tours/' ~ tour.photo()) }}" alt="photo de voyage en Indonésie"/>
                                <figcaption>
                                    <h4>{{ tour.title }}</h4>
                                    <p>{{ tour.description }}</p>
                                    <p>À partir de {{ tour.price }} € par personne</p>
                                    <form style="display: inline" action="{{ path('show_tour', {'id': tour.id})}}#tour" method="get"><button> 
                                        Découvrez
                                    </button></form>
                                </figcaption>
                            </figure>
                        {% endif %}
                    {% endfor %}
                </div>
            </section>

            <div class="button-contact">
                <form style="display: inline" action="{{ path('contact')}}#contact" method="get">
					<button>Contactez-nous pour des circuits sur-mesure</button>
				</form>
            </div>        
        </div>
    </div>

{% block javascripts %}
     {{ parent() }}
     {{ encore_entry_script_tags('island') }}
{% endblock %}

{% endblock %}
