{% extends 'base.html.twig' %}

{% block title %}Edit Tours{% endblock %}

{% block body %}

    <div class="container">
        <h1 id="edit-tour">Edit Tours</h1>

        {{ include('tours_edit/_form.html.twig', {'button_label': 'Update'}) }}

        <div class="d-flex">
        <a href="{{ path('tours_edit_index') }}#index-tours" class="btn btn-warning m-1"><i class="fas fa-arrow-alt-circle-left m-2"></i>back to list</a>

        {{ include('tours_edit/_delete_form.html.twig') }}
        </div>

        {% for day in tour.days %}
            <li class="border-top mt-4 pt-3 fw-bold">{{ day.title }}</li>
            <li>{{ day.description }}</li>
            <li>{{ day.photo }}</li>
            <li>{{ day.hotel }}</li>
            <a href="{{ path('days_edit_edit', {'id': day.id}) }}#edit-day" class="btn btn-primary m-1" role="button" target="_blank"><i class="fas fa-pencil-alt"></i></a>
        {% endfor %} 

    </div>

{% endblock %}
