{% extends 'base.html.twig' %}

{% block title %}Tours index{% endblock %}

{% block body %}

    <div class="container">
        <h1 id="index-tours">Tours index</h1>

        <a href="{{ path('dashboard') }}#dashboard" class="btn btn-warning mb-5" role="button"><i class="fas fa-arrow-alt-circle-left m-2"></i>back to dashboard</a>

        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Duration</th>
                    <th>Price</th>
                    <th>Included</th>
                    <th>NotIncluded</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for tour in tours %}
                <tr>
                    <td>{{ tour.id }}</td>
                    <td>{{ tour.title }}</td>
                    <td>{{ tour.description }}</td>
                    <td>{{ tour.duration }}</td>
                    <td>{{ tour.price }}</td>
                    <td>{{ tour.included }}</td>
                    <td>{{ tour.notIncluded }}</td>
                    <td>
                        <a href="{{ path('tours_edit_show', {'id': tour.id}) }}#show-tour" class="btn btn-primary m-1" role="button"><i class="far fa-eye"></i></a>
                        <a href="{{ path('tours_edit_edit', {'id': tour.id}) }}#edit-tour" class="btn btn-primary m-1" role="button"><i class="fas fa-pencil-alt"></i></a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="11">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('tours_edit_new') }}" class="btn btn-success mb-5" role="button">Create new</a>

        <a href="{{ path('dashboard') }}#dashboard" class="btn btn-warning mb-5" role="button"><i class="fas fa-arrow-alt-circle-left m-2"></i>back to dashboard</a>
    </div>
{% endblock %}
