{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}

    <div class="container">
        <h1 id="users-index">Users index</h1>

        <a href="{{ path('dashboard') }}#dashboard" class="btn btn-warning mb-5" role="button"><i class="fas fa-arrow-alt-circle-left m-2"></i>back to dashboard</a>

        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Username</th>
                    <th>Roles</th>
                    <th>Password</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                    <td>{{ user.password }}</td>
                    <td>
                        <a href="{{ path('user_show', {'id': user.id}) }}#user-show" class="btn btn-primary m-1" role="button"><i class="far fa-eye"></i></a>
                        <a href="{{ path('user_edit', {'id': user.id}) }}#user-edit" class="btn btn-primary m-1" role="button"><i class="fas fa-pencil-alt"></i></a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('user_new') }}#user-create" class="btn btn-success mb-5" role="button">Create new</a>
    </div>
{% endblock %}
